<% provide(:header, "hidden")  %>
<% provide(:aside, "hidden")  %>

<div class="row">
  <div class="col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-md-10 col-sm-10 col-xs-10">
    <div class="row row-0">
      <div class="col-md-8">
        <h2 class="pink">Editar usuario</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email, class: "text-gray" %><br>
            <%= image_tag("") %>
            <%= f.email_field :email, autofocus: true, class: "width-80 form_pink" %>
            <br>
          </div>
          <br>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%= f.label :password, 'Contraseña', class: "text-gray" %><i class="gray"> (Vacío si no deseas cambiarlo)</i><br>
            <%= f.password_field :password, autocomplete: "off", class: "width-80 form_pink" %>
            <% if @minimum_password_length %>
              <br>
              <em class="gray"><%= @minimum_password_length %> caracteres mínimo</em>
            <% end %>
          </div>
          <br>

          <div class="field">
            <%= f.label :password_confirmation, 'Confirmación de contraseña', class: "text-gray" %><br>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "width-80 form_pink" %>
          </div>
          <br>

          <div class="field">
            <%= f.label :current_password, 'Contraseña actual', class: "text-gray" %> <i class="gray">(Necesitamos tu contraseña actual para confirmar tus cambios)</i><br>
            <%= f.password_field :current_password, autocomplete: "off", class: "width-80 form_pink" %>
          </div>
          <br>

          <div class="actions">
            <br>
            <%= f.submit "Actualizar", class: "gray-button" %>
            <br>
            <%= link_to "Regresar", campaigns_path, class: "left pink-button" %>
            <br>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= image_tag("edit-user.png", class: "img responsive margin-img") %>
        <h3>Cancelar mi cuenta</h3>
        <p class="gray">¿Insatisfecho? <%= button_to "Cancelar", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, class: "gray-button" %></p>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-1"></div>
</div>
