<% provide(:header, "hidden")  %>
<% provide(:aside, "hidden")  %>
<div class="row heigth-100" style="padding: 0;">
  <div class="col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 pull-sm-5 col-xs-push-0 ">
    <h1 class="text-center text-pink font-40">Sign up</h1>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'form-horizontal') do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group form-sign-up">
            <%= f.label :username, class: 'control-label text-gray' %>
            <%= image_tag("static/user2.svg", class: " img-responsive img-fixed") %>
            <%= f.text_field :username, autofocus: true, class: 'form-control form-pink' %>
          </div>

          <div class="form-group">
            <%= f.label :email, class: 'control-label text-gray' %>
            <%= image_tag("static/MAIL.svg", class: " img-responsive img-fixed icon-size") %>
            <%= f.email_field :email, autofocus: true, class: 'form-control form-pink' %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: 'control-label text-gray' %>
            <%= image_tag("static/Candado.svg", class: " img-responsive img-fixed") %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control form-pink' %>
            <% if @minimum_password_length %>
            <em class="gray"><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: 'control-label text-gray' %>
            <%= image_tag("static/candado2.svg", class: " img-responsive img-fixed icon-size") %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control form-pink' %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign up", class: 'btn btn-default pink-show right', id:"sign-up" %>
          </div>
  </div>
  <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12 heigth-100 push-sm-5 col-xs-pull-0">
    <div class="form-group avatar-gray heigth-50 div-avatar">
      <div class="text-center">
      <br>
        <br>

<!--        <%#= image_tag("avatar.png", class: 'img-responsive center-image border-circle hidden-xs image-edit') %> -->
        <%= f.file_field :avatar, class: 'inputfile'%>
          <%= f.label :avatar, 'avatar.png' , class: "control-label" do %>
            <figure class= "img-responsive center-image", id="avatar-sign"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1339 1339"><defs><style>.cls-1{fill:#d1d3d4;}</style></defs><title>user gris</title><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M669.5,1339A669.67,669.67,0,0,1,408.89,52.62,669.67,669.67,0,0,1,930.11,1286.38,665.33,665.33,0,0,1,669.5,1339Zm0-1293A623.67,623.67,0,0,0,426.81,1244,623.67,623.67,0,0,0,912.19,95,619.58,619.58,0,0,0,669.5,46Z"/><path class="cls-1" d="M709.29,697.23H629.71C446,697.23,296.5,846.7,296.5,1030.44V1032a56.09,56.09,0,0,0,56,56h634a56.09,56.09,0,0,0,56-56v-1.56C1042.5,846.7,893,697.23,709.29,697.23Zm296,334.77a18.86,18.86,0,0,1-18.84,18.83h-634A18.86,18.86,0,0,1,333.69,1032v-1.56c0-163.23,132.8-296,296-296h79.58c163.23,0,296,132.79,296,296Z"/><path class="cls-1" d="M669.5,653.71c111,0,201.36-90.33,201.36-201.37S780.53,251,669.5,251,468.14,341.32,468.14,452.35,558.47,653.71,669.5,653.71Zm0-365.54c90.53,0,164.18,73.65,164.18,164.18S760,616.53,669.5,616.53,505.32,542.88,505.32,452.35,579,288.17,669.5,288.17Z"/></g></g></svg></figure><span class="gray">Subir imagén&hellip;</span>
          <% end %>

        <br>
      </div>
    </div>
    <div class="sociales heigth-50">
      <div class="row text-center">
        <h1 class="text-center green">¡Regístrate gratis!</h1>
        <div class="col-md-8 col-md-offset-2 ">
          <div class="row text-center registration-links margin-icon">
            <div class="col-xs-4 col-md-4">
              <p class="con", id="margin-con">con</p>
            </div>
            <div class="col-xs-4 col-md-4">
              <%= link_to user_facebook_omniauth_authorize_path do %>
                <%= image_tag("static/facebookverde.svg", class: 'login-icon') %>
              <% end %>
            </div>
            <div class="col-xs-4 col-md-4">
              <%= link_to user_google_oauth2_omniauth_authorize_path do %>
                <%= image_tag("static/googleverde.svg", class: 'login-icon') %>
              <% end %>
            </div>
          </div>
        </div>  
      </div>
    </div>
    <% end %>
  </div>
</div>
