<% provide :title, "Vista de administrador" %>
<div class="col-md-10 col-md-offset-1">
	<table class="table table-shadow table-striped table-bordered table-hover table-no-margin">
		<thead>
			<tr id="tr-pad">
				<th class="th-no-border">Nombre</th>
				<th class="th-no-border">Email</th>
				<th class="th-no-border">Fecha de registro</th>
				<th class="th-no-border">Plan</th>
				<th class="th-no-border">Vigencia</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each_with_index do |user, index| %>
				<% unless user.type == "AdminUser" %>
					<%if index == 0%>
						<tr class="admin-table">
							<td class="td-20 tr-pad text-center td-no-border padding-bottom middle-align"><p><%= link_to user.username, user_dashboard_path(id: user.id), class: 'pink' %></p></td>
							<td class="td-20 tr-pad td-no-border text-center padding-bottom middle-align"><p><%= user.email%></p></td>
							<td class="td-20 tr-pad text-center td-no-border padding-bottom middle-align"><p><%= user.created_at.strftime('%d-%m-%Y') %></p></td>
							<td class="td-20 tr-pad text-center td-no-border padding-bottom middle-align"><p><%= user.payment.plan_name %></p></td>
							<td class="td-20 tr-pad text-center td-no-border padding-bottom middle-align"><p><%= user.payment.cycle_end %></p></td>
						</tr>
					<% else %>
						<tr>
							<td class="td-20 text-center td-no-border padding-bottom middle-align"><p><%= link_to user.username, user_dashboard_path(id: user.id), class: 'pink' %></p></td>
							<td class="td-20 td-no-border text-center padding-bottom middle-align"><p><%= user.email%></p></td>
							<td class="td-20 text-center td-no-border padding-bottom middle-align"><p><%= user.created_at.strftime('%d-%m-%Y') %></p></td>
							<td class="td-20 text-center td-no-border padding-bottom middle-align"><p><%= user.payment.plan_name %></p></td>
							<td class="td-20 text-center td-no-border padding-bottom middle-align"><p><%= user.payment.cycle_end.strftime('%d-%m-%Y') %></p></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>