<% provide(:header, "hidden")  %>
<% provide(:aside, "hidden")  %>

<h2 class="text-center pink"><%= t("views.devise.passwords.recover.title") %></h2>

<div class="row row-0">
  <br>
<div class="col-md-4 col-md-offset-3 col-sm-7 col-sm-offset-1 col-xs-10 col-xs-offset-1">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
    <%= f.label :email, t("views.devise.passwords.recover.box_title"), class: 'control-label font-20 gray' %>
    <%= image_tag("icono-mail.svg", class: " img-responsive img-abs", id: "pass-mail") %>
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.submit t("views.devise.passwords.recover.recover_button") , class: 'btn btn-primary btn-gray margin-icon' %>
    <br><br>  
    <p class="gray"><%= t("views.devise.passwords.recover.sub_text") %></p>
    </div>
    <div class="col-md-10 text-right margin-icon">
      <%= link_to t("views.devise.passwords.recover.back_button") , new_user_session_path, class: "btn-pink" %>
    </div>
  <% end %>

  </div>
  <div class="col-md-4 col-sm-3 col-xs-10 col-xs-offset-1">
    <%= image_tag "contra.png", class: "img-responsive"  %>
  </div>
</div>
