<% provide(:title, 'ELIGE UN PLAN.') %>
<div class="row row-0">
  <div class="col-md-1"><br></div>
  <div class="col-md-10">
    <% @suscriptions.each_with_index do |suscription, index| %>
      <% if  index == 0%>
        <div class="col-md-3 centering-text">
          <%= form_tag(suscriptions_path, method: "post", data: {confirm: 'Estas seguro?'} ) do %>
            <%= hidden_field_tag 'suscription_name', suscription %>
            <div class="form-group shadow">
              <span class="title"><%= suscription %></span>
              <br>
              <h3 class="gray"><%= t("views.static.pricing.container_planes_precios.text_offer1") %></h3>
              <h5 class="gray"><%= t("views.static.pricing.container_planes_precios.sub_text_offer1") %></h5>
              <h2><%= t("views.static.pricing.container_planes_precios.price_offer1") %></h2>
              <div class="imagen">
                <%= image_tag("static/avion-papel.png", class: "img-responsive img-center") %>
              </div>
              <%= submit_tag 'Obtener', class: 'btn confirm select-plan-submit', disabled: @current_suscription == 'freelancer' %>
              <p class="margin-top-10"><%= t("views.static.pricing.container_planes_precios.bottom_text_offer1") %></p>
            </div>
          <% end %>
        </div>
      <% elsif index == 1 %>
        <div class="col-md-3 centering-text">
          <%= form_tag(suscriptions_path, method: "post", data: {confirm: 'Estas seguro?'} ) do %>
            <%= hidden_field_tag 'suscription_name', suscription %>
            <div class="form-group shadow">
              <span class="title"><%= suscription %></span>
              <br>
              <h3 class="gray"><%= t("views.static.pricing.container_planes_precios.text_offer2") %></h3>
              <h5 class="gray"><%= t("views.static.pricing.container_planes_precios.sub_text_offer2") %></h5>
              <h2><%= t("views.static.pricing.container_planes_precios.price_offer2") %></h2>
              <div class="imagen">
                <%= image_tag("static/avion.png", class: "img-responsive img-center") %>  
              </div>
              <%= submit_tag 'Obtener', class: 'btn confirm select-plan-submit', disabled: @current_suscription == 'startup' %>
              <p class="margin-top-10"><%= t("views.static.pricing.container_planes_precios.bottom_text_offer2") %></p>
            </div>
          <% end %>
        </div>
      <% elsif index == 2 %>
        <div class="col-md-3 centering-text">
          <%= form_tag(suscriptions_path, method: "post", data: {confirm: 'Estas seguro?'} ) do %>
            <%= hidden_field_tag 'suscription_name', suscription %>
            <div class="form-group shadow">
              <span class="title"><%= suscription %></span>
              <br>
              <h3 class="gray"><%= t("views.static.pricing.container_planes_precios.text_offer3") %></h3>
              <h5 class="gray"><%= t("views.static.pricing.container_planes_precios.sub_text_offer3") %></h5>
              <h2><%= t("views.static.pricing.container_planes_precios.price_offer3") %></h2>
              <div class="imagen">
                <%= image_tag("static/helicoptero.png", class: "img-responsive img-center") %>
              </div>
              <%= submit_tag 'Obtener', class: 'btn confirm select-plan-submit', disabled: @current_suscription == 'crecimiento' %>
              <p class="margin-top-10"><%= t("views.static.pricing.container_planes_precios.bottom_text_offer3") %></p>
            </div>
          <% end %>
        </div>
      <% else %>
        <div class="col-md-3 centering-text">
          <%= form_tag(suscriptions_path, method: "post", data: {confirm: 'Estas seguro?'} ) do %>
            <%= hidden_field_tag 'suscription_name', suscription %>
            <div class="form-group shadow">
              <span class="title"><%= suscription %></span>
              <br>
              <h3 class="gray"><%= t("views.static.pricing.container_planes_precios.text_offer4") %></h3>
              <h5 class="gray"><%= t("views.static.pricing.container_planes_precios.sub_text_offer4") %></h5>
              <h2><%= t("views.static.pricing.container_planes_precios.price_offer4") %></h2>
              <div class="imagen">
                <%= image_tag("static/cohete.png", class: "img-responsive img-center") %>  
              </div>
              <%= submit_tag 'Obtener', class: 'btn confirm select-plan-submit', disabled: @current_suscription == 'enterprise' %>
              <p class="margin-top-10"><%= t("views.static.pricing.container_planes_precios.bottom_text_offer4") %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>
