<h2>Tu Calificación fue: <%= @score %> </h2>
<h3>Déjanos tus comentarios</h3>

<%= form_for(@answer, url: edit_answer_path(@answer), html: { method: "patch", class: "form-horizontal", role: "form" }) do |f| %>
  <% if @answer.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h4>

      <ul>
      <% @answer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-6 col-md-offset-2">
      <%= f.text_area :comment, size: '4x6', class: "form-control", placeholder: '...' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
