<div class="page-header">
  <%= link_to contacts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t("views.contacts.show.back_button") %>
  <% end %>
  <%= link_to edit_contact_path(@contact), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    <%= t("views.contacts.show.edit_button") %>
  <% end %>
  <h1><%= t("views.contacts.show.title") %></h1>
</div>

<dl class="dl-horizontal">
</dl>
