<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sone</title>
  <style type="text/css">
  body {
      margin: 0;
      padding: 0;
      min-width: 100%;
      background-color: #ffffff;
    }
    table {
      border-spacing: 0;
      font-family: sans-serif;
      color: #333333;
    }
    td {
      padding: 0;
    }
    img {
      border: 0;
    }
    .wrapper {
      width: 100%;
      table-layout: fixed;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
    .webkit {
      max-width: 600px;
    }   
    /* Windows Phone Viewport Fix */
    @-ms-viewport { 
      width: device-width; 
    }
    td a{
    color: #616161;
    font-size: 20px;
    text-decoration: none;
    }

    tr, td{
      text-align:center; 
      vertical-align:middle;
    }

    .back-color{
      height: 250px;
      background-position: center;
      background-image: url(http://localhost:3000/uploads/campaign/logo/1/instagram_perfil.jpg);
      background-repeat: no-repeat;
      position: relative;
      box-shadow: 10px 4px 16px -2px rgba(163,160,163,1);
    }

    img{
      width: 300px;
      height: auto;
    }

    table table td{
      border: 1px solid black;
      width: 9.09%;
    }
    @media only screen and (max-width: 580px)  {
      .full {
        display:block;
        width:30%;
        margin: 0 auto;
      }
      .pink{
        margin-left: 37%;
      }
      .shadow{
        padding:15px;
      }
    }
    @media only screen and (min-width: 580px)  {
      .pink{
        color: white;
        bottom: 0;
        position: absolute;
        margin-left: 45%;
      }
      .shadow{
        padding:50px;
        margin-bottom: 20px;
      }
    }
    .pink:nth-child(-n+6) {
      color:#b2427c;
    }
    .pink:last-child {
      color:#b2427c;
    }
    .pink{
      color: white;
      bottom: 0;
      position: absolute;
    }

    .white{color: white;}
    .shadow{
      -webkit-box-shadow: 0px 11px 18px -2px rgba(163,160,163,1);
      -moz-box-shadow: 0px 11px 18px -2px rgba(163,160,163,1);
      box-shadow: 0px 11px 18px -2px rgba(163,160,163,1);
    }
    .back-color{
      background-color: black;
    }
    .border-0{
      border:0;
      padding-bottom: 5px;
      padding-top: 5px;
    }
    .border-0:hover{
      
    }
    #ten{
      color: white;
      background-color: #b2427c;
      padding:10px;
      border-radius:100%;
    }
    .link{
      color:#b2427c;
    }
    .font-10{
      font-size: 10px!important;
    }
    #img{
      border-radius: 100%;
    }
  </style>

</head>
<body>
  <table border="0" cellpadding="0" cellspacing="5" width="100%">
    <tbody>
      <tr>
        <td style="" class="">
        <center>
          <img id="img" src='<%= @logo_path %>' alt="" style="height: auto, border-radius:100%, width:auto;">
          <br>
          ¡Hola {{name}}!
        </center>
        </td>
      </tr>
      <tr>
        <td>
            <hr>
        </td>
      </tr>
      <tr>
        <td>
          <p style="text-align: center">¿Qué tan dispuesto estarías a recomendar <strong><%= @sender_name %></strong> a un amigo o familiar?</p>
        </td>
      </tr>
      <tr>
        <td class="back-gray">
          <table border="0" cellpadding="0" cellspacing="5" width="100%">
            <tbody>
              <tr>
                <% (0..10).each do |index| %>
                  <td class="full border-0">
                    <% if index != 10  %>
                      <a href="<%=URI.decode(new_answer_url)%>?data={{token}}&score=<%=index%>"><%= index %></a>
                    <% else %>
                      <a id="ten" style="color: white;background-color: #b2427c;padding:10px;border-radius:100%;" href="<%=URI.decode(new_answer_url)%>?data={{token}}&score=<%=index%>"><%= index %></a>
                    <% end %>
                  </td>
                  <% end %>
              </tr>
            </tbody>
          </table>
          <center>
            <p class="font-size-10" style="font-size: 70%">Si quieres dejar de recibir correos por parte de Sone da <a class="link font-size-10" href="<%=URI.decode(blacklist_confirm_url)%>?data={{token}}">Clic aquí</a></p>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>


