<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sone</title>
  <style type="text/css">
  body {
      margin: 0;
      padding: 0;
      min-width: 100%;
      background-color: #ffffff;
    }
    table {
      border-spacing: 0;
      font-family: sans-serif;
      color: #333333;
    }
    td {
      padding: 0;
    }
    img {
      border: 0;
    }
    .wrapper {
      width: 100%;
      table-layout: fixed;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
    .webkit {
      max-width: 600px;
    }   
    /* Windows Phone Viewport Fix */
    @-ms-viewport { 
      width: device-width; 
    }
    td a{
    color: #616161;
    font-size: 20px;
    text-decoration: none;
    }

    tr, td{
      text-align:center; 
      vertical-align:middle;
    }

    .back-color{
      height: 250px;
      background-position: center;
      background-image: url(http://localhost:3000/uploads/campaign/logo/1/instagram_perfil.jpg);
      background-repeat: no-repeat;
      position: relative;
      box-shadow: 10px 4px 16px -2px rgba(163,160,163,1);
    }

    img{
      width: 300px;
      height: auto;
    }
  .em{
    width: 50em;
  }
    table table td{
      border: 1px solid black;
      width: 15.09%;
    }
  
    @media only screen and (max-width: 765px)  {
      .mail{
        max-width: 60%!important; 
        margin-left: 20%!important;
      }
      .full {
        display:block;
        width:100%;
        margin: 0 auto;
      }
      .pink{
        margin-left: 37%;
      }
      .shadow{
        padding:15px;
      }
      .select{
        color: white;
        background-color: #b2427c;
        padding:1% 2%;
        border-radius:10px;
        text-decoration: none;
      }
      .select-2{
        color: white;
        background-color: #b2427c;
        padding:1% 19%;
        border-radius:10px;
        text-decoration: none;
      }
    }
    @media only screen and (min-width: 765px)  {
      .mail{
        max-width: 40%!important;
        margin-left: 30%!important;
      }
      .text-full{
        width: 5%!important;
      }
      .full{
        width: 5%;
      }
      .pink{
        color: white;
        bottom: 0;
        position: absolute;
        margin-left: 45%;
      }
      .shadow{
        padding:50px;
        margin-bottom: 20px;
      }
      .select{
        color: white;
        background-color: #b2427c;
        padding:1.5% 20%;
        border-radius:10px;
        text-decoration: none;
      }
      .select-2{
        color: white;
        background-color: #b2427c;
        padding:1.5% 19%;
        border-radius:10px;
        text-decoration: none;
      }
    }
    .pink:nth-child(-n+6) {
      color:#b2427c;
    }
    .pink:last-child {
      color:#b2427c;
    }
    .pink{
      color: white;
      bottom: 0;
      position: absolute;
    }

    .white{color: white;}
    .shadow{
      -webkit-box-shadow: 0px 11px 18px -2px rgba(163,160,163,1);
      -moz-box-shadow: 0px 11px 18px -2px rgba(163,160,163,1);
      box-shadow: 0px 11px 18px -2px rgba(163,160,163,1);
    }
    .back-color{
      background-color: black;
    }
    .border-0{
      border:0;
      padding-bottom: 1%;
    }
    .border-0:hover{
      
    }
    .select-2:hover{
      text-decoration: none;
      color: white;
    }
    .select:hover{
      text-decoration: none;
      color: white;
    }
    .link{
      color:#b2427c;
      font-size: 1em;
    }
    .link:hover{
      text-decoration: underline;
      color: #b2427c;
    }
    .font-10{
      font-size: 10px!important;
    }
    #img{
      height: 140px;
      width: 140px;
    }
    .table{
      display: table;
    }
  </style>

</head>
<body>
  <center>
    <img id="img" src='<%= @logo_path %>' alt="" style="height: 140px;width: 140px;">
    <br>
    ¡Hola, {{name}}!
  </center>
  <center>
    <p style="text-align: center">¿Qué tan dispuest@ estarías a recomendar <strong><%= @sender_name %></strong> a un amigo o familiar?</p>
  </center>
  <div id="mail" class="mail col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-lg-4 col-lg-offset-4 col-xs-4 col-xs-offset-4" style="width: 60%; margin-left: 20%">
    <table class="" border="0" cellpadding="0" cellspacing="5" width="100%">
    <tbody>
      <tr>
        <td style="" class="">
        <!-- <center>
          <img id="img" src='<%= @logo_path %>' alt="" style="height: 140px;width: 140px;">
          <br>
          ¡Hola, {{name}}!
        </center> -->
        </td>
      </tr>
      <tr>
        <td>
            <hr>
        </td>
      </tr>
      <tr>
        <td>
          <!-- <p style="text-align: center">¿Qué tan dispuesto estarías a recomendar <strong><%= @sender_name %></strong> a un amigo o familiar?</p> -->
        </td>
      </tr>
      <tr>
        <td class="">
          <table class="" border="0" cellpadding="0" cellspacing="5" width="100%">
            <tbody>
            <% (0..10).each do |index| %>
            <% if index == 0 %>
              <tr class="text-full" style="">
              <%# (0..10).each do |index| %>
                <td class="border-0 row">
                  <div class="col-md-12 col-sm-12 col-xs-12  col-lg-12 select text-center" style="color: white;background-color: {{color}};padding:1%;border-radius:10px;">
                    <center>
                      <a class="" style="text-decoration: none;color: white;text-align: center;" href="<%=URI.decode(new_answer_url)%>?data={{token}}&score=<%=index%>"><%= index %> - Poco</a>
                    </center>
                    
                  </div>
                 <!--  <a class="select " style="color: white;background-color: {{color}};padding:1.5% 112%;border-radius:10px;text-decoration: none;" href="<%#=URI.decode(new_answer_url)%>?data={{token}}&score=<%#=index%>"><%#= index %> - Poco</a> -->
                </td>
              </tr>
            <% elsif index != 10  %>
            <tr class="text-full" style="">
                <%# (0..10).each do |index| %>
                  <td class="border-0 row" style="">
                    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 select text-center" style="color: white;background-color: {{color}};padding:1%;border-radius:10px;">
                      <center>
                        <a class="" style="text-decoration: none;color: white;text-align: center;" href="<%=URI.decode(new_answer_url)%>?data={{token}}&score=<%=index%>"><%= index %>
                      </center>
                      
                    </div>
                     <!-- <a class="select em" style="width: 50em; color: white;background-color: {{color}};padding:1.5% 17%;border-radius:10px;text-decoration: none;" href="<%#=URI.decode(new_answer_url)%>?data={{token}}&score=<%#=index%>"><%#= index %></a> -->
                                      <%# end %>
                  </td>
                  
              </tr>
            <% else %>
              <tr class="text-full" style="">
                <%# (0..10).each do |index| %>
                <td class="border-0 row">
                  <div class="select col-md-12 col-sm-12 col-xs-12 col-lg-12 text-center" style="color: white;background-color: {{color}};padding:1%;border-radius:10px;">
                    <center>
                      <a style="text-decoration: none;color: white;text-align: center;" href="<%=URI.decode(new_answer_url)%>?data={{token}}&score=<%=index%>"><%= index %> - Mucho</a>
                    </center>
                    
                  </div>
                 <!--  <a class="select " style="color: white;background-color: {{color}};padding:1.5% 13%;border-radius:10px;text-decoration: none;" href="<%#=URI.decode(new_answer_url)%>?data={{token}}&score=<%#=index%>"><%#= index %> - Mucho</a> -->
                </td>
              </tr>
              <% end %>
            <% end %>
            </tbody>
          </table>
          <center>
            <p class="font-size-10" style="font-size: 70%; padding-top: 15px;">Dejar Suscripción<a class="link font-size-10" href="<%=URI.decode(blacklist_confirm_url)%>?data={{token}}"> Click aquí</a> <br><br><br>Powered by <%= link_to "SONE", root_url, class: "link font-10" %></p>
          </center>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  
</body>
</html>


