<header>
  <div class="container-fluid">
       <!-- <button onclick="back_to_top()" id="flecha"><%#= image_tag 'static/flecha-arriba.svg', id: 'flecha-arriba', class: "hidden-lg hide" %></button> -->
    <div class="hero-text-box text-center">
      <h1 id="home-main-title"><%= t("views.static.homepage.container_call_to_action.cta_main_title") %></h1>
      <h3 class="responsive" id="title-responsive"><%= t("views.static.homepage.container_call_to_action.cta_sub_title") %></h3>
      <!-- <%#= link_to 'Prueba gratis', '#', class: 'btn btn-free-trial' %> -->
      <%= link_to t("views.static.homepage.container_call_to_action.cta_button"), new_user_registration_path, class: 'btn btn-free-trial', "data-turbolinks" => false %>
    </div>
    <div class="hero-text-bottom text-center">
      <h4><%= t("views.static.homepage.container_call_to_action.cta_bottom_text1") %></h4>
      <h4><%= t("views.static.homepage.container_call_to_action.cta_bottom_text2") %></h4>
    </div>
  </div>
</header>

<!-- Pregunta - Mejora -->
<section class="ask-improve-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-1 col-sm-5">
        <h3><%= t("views.static.homepage.container_ask_improve.ask_improve_claim_1") %></h3>
        <p><%= t("views.static.homepage.container_ask_improve.ask_improve_sub_claim_1") %></p>
        <%= image_tag "pregunta.png", class: 'img-responsive' %>
      </div>
      <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-2">
        <h3><%= t("views.static.homepage.container_ask_improve.ask_improve_claim_2") %></h3>
        <p><%= t("views.static.homepage.container_ask_improve.ask_improve_sub_claim_2") %></p>
        <%= image_tag "mejora.png", class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>

<!-- End Pregunta - Mejora -->

<!-- Beneficios -->
<section class="benefits-section" style="margin-top: 25px;">
  <div class="container">
    <div class="row">
      <h2 class="text-center"><%= t("views.static.homepage.container_beneficios.beneficios_title") %></span></h2>
    </div>

    <div class="row benefit-row">
      <div class="col-md-3 col-md-offset-3">
        <h3><%= t("views.static.homepage.container_beneficios.beneficio_1") %></h3>
        <p><%= t("views.static.homepage.container_beneficios.claim_beneficio_1") %></p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <%= image_tag 'escalable.png', class: 'img-responsive' %>
      </div>
    </div>

    <div class="row benefit-row">
      <div class="col-md-3 col-md-offset-3">
        <%= image_tag 'responsivo.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <h3><%= t("views.static.homepage.container_beneficios.beneficio_2") %></h3>
        <p><%= t("views.static.homepage.container_beneficios.claim_beneficio_2") %></p>
      </div>
    </div>

    <div class="row benefit-row">
      <div class="col-md-3 col-md-offset-3">
        <h3><%= t("views.static.homepage.container_beneficios.beneficio_3") %></h3>
        <p><%= t("views.static.homepage.container_beneficios.claim_beneficio_3") %></p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <%= image_tag 'soporte.png', class: 'img-responsive' %>
      </div>
    </div>

    <div class="row benefit-row">
      <div class="col-md-3 col-md-offset-3">
        <%= image_tag 'confiable.png', class: 'img-responsive' %>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <h3><%= t("views.static.homepage.container_beneficios.beneficio_4") %></h3>
        <p><%= t("views.static.homepage.container_beneficios.claim_beneficio_4") %></p>
      </div>
    </div>
  </div>
</section>
<!-- End Beneficios section -->

<!-- F치cil y R치pido section -->
<section class="easy-fast-section">
  <div class="container">
    <div class="row easy-fast-row">
      <div class="col-md-4 col-sm-4">
        <%= image_tag 'home-phone.png', class: 'img-responsive phone-img' %>
      </div>
      <div class="col-md-7 col-sm-8 easy-fast-text-content">
        <h3><%= t("views.static.homepage.container_fast_easy.fast_easy_title") %></h3>
        <p><%= t("views.static.homepage.container_fast_easy.fast_easy_claim") %><p>
        <div class="text-center">
          <%= link_to t("views.static.homepage.container_fast_easy.fast_easy_button"), new_user_registration_path, class: 'btn btn-free-trial', "data-turbolinks" => false %>
        </div>
      </div>
      <div class="img-container">
        <%= image_tag 'dotted.png', class: 'img-background' %>
      </div>
    </div>
  </div>
</section>
<!-- End F치cil y R치pido section -->

<!-- Our clients opinion -->
<!-- <section class="clients-opinion-section">

  <h3 class="text-center"><%= t("views.static.homepage.container_clients_opinion.clients_opinion_title") %></h3>

  <div class="slider-container">
    <ul class="bxslider-opinions">
      <li class="bxslider-item">
        <p class="clients-opinion">
          <span class="amarillo">" </span><%= t("views.static.homepage.container_clients_opinion.clients_opinion_statement_1") %>
          <span class="amarillo negritas">. "</span>
        </p>
        <div class="line"></div>
        <p class="clients-name amarillo hidden-sm hidden-xs">
          <%= t("views.static.homepage.container_clients_opinion.clients_opinion_name_1") %>
        </p>
        <p class="clients-pagina">
          <a href="http://www.mexicanisimo.com.mx" class="white"><%= t("views.static.homepage.container_clients_opinion.clients_opinion_web_1") %></a>
        </p>
        <%= image_tag 'static/alejandroToussaint.png', class: 'bxslider-image' %>
      </li>

      <li class="bxslider-item">
        <p class="clients-opinion">
          <span class="amarillo">" </span><%= t("views.static.homepage.container_clients_opinion.clients_opinion_statement_2") %>
          <span class="amarillo negritas">. "</span>
        </p>
        <div class="line"></div>
        <p class="clients-name amarillo hidden-sm hidden-xs">
          <%= t("views.static.homepage.container_clients_opinion.clients_opinion_name_2") %>
        </p>
        <p class="clients-pagina">
          <a href="https://mexico2us.com" class="white"><%= t("views.static.homepage.container_clients_opinion.clients_opinion_web_2") %></a>
        </p>
        <%= image_tag 'static/JoseGonzalesFranco.png', class: 'bxslider-image' %>
      </li>
    </ul>

    <ul class="slider-clients-pages hidden-sm hidden-xs">
      <li class="slider-page-item active" data-slide-index="0"></li>
      <li class="slider-page-item" data-slide-index="1"></li>
    </ul>
    <%= image_tag 'arrow-left.svg', id: 'slider-left-arrow', class: "hidden-sm hidden-xs" %>
    <%= image_tag 'arrow-right.svg', id: 'slider-right-arrow', class: "hidden-sm hidden-xs" %>
  </div>

</section> -->
<!-- End Our clients opinion -->


<%= render "layouts/static_footer" %>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  $(document).ready(function() {
    var slider = $('.bxslider-opinions').bxSlider({
          pager: false,
          controls: false,
          onSlideBefore: function($slideElement, oldIndex, newIndex) {
            $(".slider-clients-pages li.slider-page-item").removeClass("active");
            $("[data-slide-index="+newIndex+"]").addClass("active");
          }
        });

        $("#slider-right-arrow").click(function() {
          slider.goToNextSlide();
        });

        $("#slider-left-arrow").click(function() {
          slider.goToPrevSlide();
        });
  });
</script>

<% if Rails.env.production? %>
  <script type="text/javascript">
    window.$_Tawk = undefined;
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/59baffe8c28eca75e46201b4/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
<% end %>