
<div class="container-fluid" style="padding: 0;">
  <div class="row">
    <div id="banner-container">
      <p class="banner-text"><%= t("views.static.pricing.container_banner.banner_main_title").html_safe %>
      </p>
      <p class="banner-text">
        <%= t("views.static.pricing.container_banner.banner_sub_title") %>
      </p>
        <%= link_to t("views.static.pricing.container_banner.banner_cta"), new_user_registration_path, class: 'trial-free', "data-turbolinks" => false %>
        <!-- <a href="" class="trial-free">Prueba gratis</a> -->
    </div>
  </div>

  <div class="row center-block text-center">
    <div class="col-md-3">
      <%= image_tag("static/onda.svg", class: "img-25 padding-top-4 hidden-sm hidden-xs") %>
    </div>
    <div class="col-md-6">
      <a id="planes y precios" name="info-planes"></a>
      <h1 id="prim" class="font-80 capitalize padding-left-3 border-left-pink margin-bottom-0 font-gray"><%= t("views.static.pricing.container_planes_precios.plans_precios_title1") %></h1>
      <h1 id="segu" class="font-65 capitalize padding-left-20 border-left-pink margin-0 font-gray"><%= t("views.static.pricing.container_planes_precios.plans_precios_title2") %></h1>
      <h1 id="terc" class=" font-80 text-right padding-bottom-5 border-right-pink font-gray"><%= t("views.static.pricing.container_planes_precios.plans_precios_title3") %></h1>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <!-- <div class="row margin-top-5">
    <div class="col-md-6 col-md-offset-3">
      <div class="row margin-top-5">
        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
          <a href="#" class="button-pink"><span class="glyphicon glyphicon-ok padding-right-6"></span>Plan anual</a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
          <div class="contain">
            <a href="#" class="button-white">Plan mensual</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="row margin-top-5 padding-top-5 text-center center-block">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 box-offer text-center padding-bottom-5 padding-0 box-res margin-top-5">
          <div>
            <h2 class="text-center tittle-offer"><%= t("views.static.pricing.container_planes_precios.title_offer1") %></h2>
          </div>
          <h2 class="text-center font-gray"><%= t("views.static.pricing.container_planes_precios.text_offer1") %></h2>
          <h3 class="text-center font-gray"><%= t("views.static.pricing.container_planes_precios.sub_text_offer1") %></h3>
          <h2 class="text-center"><%= t("views.static.pricing.container_planes_precios.price_offer1") %></h2>
          <p class="text-center"><%= t("views.static.pricing.container_planes_precios.bottom_text_offer1") %></p>
          <p></p>
          <%= image_tag("static/avion-papel.png", class: "img-60") %>
          <div class="contain">
            <a href="#" class="capitalize link-offer"><%= t("views.static.pricing.container_planes_precios.cta_offer1") %></a>
           </div>
          <br>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 box-offer text-center padding-bottom-5 padding-0 box-res margin-top-5">
          <div>
            <h2 class="text-center tittle-offer"><%= t("views.static.pricing.container_planes_precios.title_offer2") %></h2>
          </div>
          <h2 class="text-center font-gray"><%= t("views.static.pricing.container_planes_precios.text_offer2") %></h2>
          <h3 class="text-center font-gray"><%= t("views.static.pricing.container_planes_precios.sub_text_offer2") %></h3>
          <h2 class="text-center"><%= t("views.static.pricing.container_planes_precios.price_offer2") %></h2>
          <p class="text-center"><%= t("views.static.pricing.container_planes_precios.bottom_text_offer2") %></p>
          <p></p>
          <%= image_tag("static/avion.png", class: "img-60") %>
          <div class="contain">
            <a href="#" class="capitalize link-offer"><%= t("views.static.pricing.container_planes_precios.cta_offer2") %></a>
          </div>
          <br>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 box-offer text-center padding-bottom-5 padding-0 box-res" id="popular">
          <div>
            <h2 class="text-center tittle-offer"><%= t("views.static.pricing.container_planes_precios.title_offer3") %><%= image_tag("static/recom.svg", class: "img-35") %></h2>
          </div>
          <h2 class="text-center font-gray"><%= t("views.static.pricing.container_planes_precios.text_offer3") %></h2>
          <h3 class="text-center font-gray"><%= t("views.static.pricing.container_planes_precios.sub_text_offer3") %></h3>
          <h2 class="text-center"><%= t("views.static.pricing.container_planes_precios.price_offer3") %></h2>
          <p class="text-center"><%= t("views.static.pricing.container_planes_precios.bottom_text_offer3") %></p>
          <%= image_tag("static/helicoptero.png", class: "img-60 text-center") %>
          <a href="#" class="capitalize link-offer"><%= t("views.static.pricing.container_planes_precios.cta_offer3") %></a>
          <br>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 box-offer text-center padding-bottom-5 padding-0 box-res margin-top-5">
          <div>
            <h2 class="text-center tittle-offer"><%= t("views.static.pricing.container_planes_precios.title_offer4") %></h2>
          </div>
          <h2 class="text-center font-gray"><%= t("views.static.pricing.container_planes_precios.text_offer4") %></h2>
          <h3 class="text-center font-gray"><%= t("views.static.pricing.container_planes_precios.sub_text_offer3") %></h3>
          <h2 class="text-center"><%= t("views.static.pricing.container_planes_precios.price_offer4") %></h2>
          <p class="text-center"><%= t("views.static.pricing.container_planes_precios.bottom_text_offer4") %></p>
          <%= image_tag("static/cohete.png", class: "cohete") %>
          <div class="contain">
            <a href="#" class="capitalize link-offer"><%= t("views.static.pricing.container_planes_precios.cta_offer4") %></a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>


  <div class="row margin-top-5">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-6 text-center">
          <%= image_tag("llama.jpg", class: "img-auto") %>
        </div>
         <div class="col-md-6 text-center">
          <h4 class="font-gray margin-top-5"><%= t("views.static.pricing.container_ayuda.ayuda_claim") %></h4>
          <h4 class="font-gray margin-bottom-10"><%= t("views.static.pricing.container_ayuda.ayuda_sub_claim") %></h4>
          <div class="contain">
            <a href="mailto:soporte@sone.com.mx" class="button-pink capitalize margin-top-5"><%= t("views.static.pricing.container_ayuda.ayuda_cta") %></a>
          </div>
         </div>
      </div>
    </div>
  </div>

  <div class="row margin-top-5 margin-bottom-10">
  <div class="col-md-1"><br></div>
    <div class="col-md-10">
    <a id="faq-title" name="Faq"></a>
      <h1 class="green margin-bottom-10 text-center"><%= t("views.static.pricing.container_faq.faq_title") %></h1>
      <div class="row text-center center-block">
        <div class="col-md-5">
          <h3 class="font-gray"><%= t("views.static.pricing.container_faq.question_1") %></h3>
          <p class="font-gray"><%= t("views.static.pricing.container_faq.answer_1") %></p>
        </div>
        <div class="col-md-1 text-center">
        <%= image_tag("static/cohete.png", class: "img-70 margin-top-5") %>
        </div>
        <div class="col-md-5">
          <h3 class="font-gray"><%= t("views.static.pricing.container_faq.question_2") %></h3>
          <p class="font-gray"><%= t("views.static.pricing.container_faq.answer_2") %></p>
        </div>
        <div class="col-md-1 text-center">
          <%= image_tag("static/Recurso 12-8.png", class: "img-100 margin-top-5") %>
        </div>
      </div>
      <div class="row margin-top-5 text-center center-block">
        <div class="col-md-5">
          <h3 class="font-gray"><%= t("views.static.pricing.container_faq.question_3") %></h3>
          <p class="font-gray"><%= t("views.static.pricing.container_faq.answer_3") %></p>
        </div>
        <div class="col-md-1 text-center center-block">
        <%= image_tag("static/Recurso 10-8.png", class: "img-100 margin-top-5 padding-top-50") %>
        </div>
        <div class="col-md-5">
          <h3 class="font-gray"><%= t("views.static.pricing.container_faq.question_4") %></h3>
          <p class="font-gray"><%= t("views.static.pricing.container_faq.answer_4") %></p>
        </div>
        <div class="col-md-1 text-center">
          <%= image_tag("static/Recurso 11-8.png", class: "img-100 margin-top-5") %>
        </div>
      </div>
      <div class="row margin-top-5 text-center center-block">
        <div class="col-md-5">
          <h3 class="font-gray"><%= t("views.static.pricing.container_faq.question_5") %></h3>
          <p class="font-gray"><%= t("views.static.pricing.container_faq.answer_5") %></p>
        </div>
        <div class="col-md-1 text-center">
        <%= image_tag("static/Recurso 9-8.png", class: "img-100 margin-top-5 padding-top-50") %>
        </div>
        <div class="col-md-5">
          <h3 class="font-gray"><%= t("views.static.pricing.container_faq.question_6") %></h3>
          <p class="font-gray"><%= t("views.static.pricing.container_faq.answer_6") %></p>
        </div>
        <div class="col-md-1 text-center">
          <%= image_tag("static/Recurso 8-8.png", class: "img-100 margin-top-5") %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<%= render "layouts/static_footer" %>

<% if Rails.env.production? %>
  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
    window.$_Tawk = undefined;
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/59baffe8c28eca75e46201b4/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  </script>
  <!--End of Tawk.to Script-->
<% end %>