
<div class="container-fluid" style="padding: 0;">
  <div class="row">
    <div id="banner-container">
      <p class="banner-text">
        Empieza con un periodo de prueba gratis y <span class="green">descubre el potencial que <strong>SONE</strong> representa para tu negocio.</span>
      </p>
      <p class="banner-text">
        Es gratis y no necesitas trajeta de crédito.
      </p>
        <%= link_to "Prueba Gratis", new_user_registration_path, class: 'trial-free', "data-turbolinks" => false %>
        <!-- <a href="" class="trial-free">Prueba gratis</a> -->
    </div>
  </div>

  <div class="row center-block text-center">
    <div class="col-md-3">
      <%= image_tag("static/onda.svg", class: "img-25 padding-top-4 hidden-sm hidden-xs") %>
    </div>
    <div class="col-md-6">
      <a id="planes y precios" name="info-planes"></a>
      <h1 id="prim" class="font-80 capitalize padding-left-3 border-left-pink margin-bottom-0 font-gray">Planes</h1>
      <h1 id="segu" class="font-65 capitalize padding-left-20 border-left-pink margin-0 font-gray">diseñados</h1>
      <h1 id="terc" class=" font-80 text-right padding-bottom-5 border-right-pink font-gray">a tu medida</h1>
    </div>
    <div class="col-md-3">
    </div>
  </div>
  <!-- <div class="row margin-top-5">
    <div class="col-md-6 col-md-offset-3">
      <div class="row margin-top-5">
        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
          <a href="#" class="button-pink"><span class="glyphicon glyphicon-ok padding-right-6"></span>Plan anual</a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-center">
          <div class="contain">
            <a href="#" class="button-white">Plan mensual</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="row margin-top-5 padding-top-5 text-center center-block">
    <div class="col-md-8 col-xs-12 col-md-offset-2">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12 box-offer text-center padding-bottom-5 padding-0 box-res margin-top-5">
          <div>
            <h2 class="text-center tittle-offer">Freelance</h2>
          </div>
          <h2 class="text-center font-gray">Cien</h2>
          <h3 class="text-center font-gray">Clientes al mes</h3>
          <h2 class="text-center">Gratis</h2>
          <p class="text-center">Funcionalidad básica</p>
          <p></p>
          <%= image_tag("static/avion-papel.png", class: "img-60") %>
          <div class="contain">
            <a href="#" class="capitalize link-offer">Obtener</a>
           </div>
          <br>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 box-offer text-center padding-bottom-5 padding-0 box-res margin-top-5">
          <div>
            <h2 class="text-center tittle-offer">Startup</h2>
          </div>
          <h2 class="text-center font-gray">Mil</h2>
          <h3 class="text-center font-gray">Clientes al mes</h3>
          <h2 class="text-center">MxP$900</h2>
          <p class="text-center">Multi campaña</p>
          <p></p>
          <%= image_tag("static/avion.png", class: "img-60") %>
          <div class="contain">
            <a href="#" class="capitalize link-offer">Obtener</a>
          </div>
          <br>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 box-offer text-center padding-bottom-5 padding-0 box-res" id="popular">
          <div>
            <h2 class="text-center tittle-offer">Crecimiento<%= image_tag("static/recom.svg", class: "img-35") %></h2>
          </div>
          <h2 class="text-center font-gray">5 mil</h2>
          <h3 class="text-center font-gray">Clientes al mes</h3>
          <h2 class="text-center">MxP$2,500</h2>
          <p class="text-center">Multi campaña <br>Infografía mensual</p>
          <%= image_tag("static/helicoptero.png", class: "img-60 text-center") %>
          <a href="#" class="capitalize link-offer">Obtener</a>
          <br>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 box-offer text-center padding-bottom-5 padding-0 box-res margin-top-5">
          <div>
            <h2 class="text-center tittle-offer">Enterprise</h2>
          </div>
          <h2 class="text-center font-gray">10 mil</h2>
          <h3 class="text-center font-gray">Clientes al mes</h3>
          <h2 class="text-center">MxP$4,500</h2>
          <p class="text-center">Multi campaña <br>Infografía mensual</p>
          <%= image_tag("static/cohete.png", class: "cohete") %>
          <div class="contain">
            <a href="#" class="capitalize link-offer">Obtener</a>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>


  <div class="row margin-top-5">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-md-6 text-center">
          <%= image_tag("llama.jpg", class: "img-auto") %>
        </div>
         <div class="col-md-6 text-center">
          <h4 class="font-gray margin-top-5">¿No encontraste lo que buscabas?</h4>
          <h4 class="font-gray margin-bottom-10">Podemos ayudarte</h4>
          <div class="contain">
            <a href="mailto:soporte@sone.com.mx" class="button-pink capitalize margin-top-5">Contacto ventas</a>
          </div>
         </div>
      </div>
    </div>
  </div>

  <div class="row margin-top-5 margin-bottom-10">
  <div class="col-md-1"><br></div>
    <div class="col-md-10">
    <a id="faq-title" name="Faq"></a>
      <h1 class="green margin-bottom-10 text-center">Preguntas Frecuentes</h1>
      <div class="row text-center center-block">
        <div class="col-md-5">
          <h3 class="font-gray">¿Cómo funcionan los planes?</h3>
          <p class="font-gray">En realidad es muy sencillo, tenemos 4 opciones que esperamos se adapten a la escala de tu negocio. Cada plan te permite contactar un número específico de clientes para evaluar su experiencia.</p>
        </div>
        <div class="col-md-1 text-center">
        <%= image_tag("static/cohete.png", class: "img-70 margin-top-5") %>
        </div>
        <div class="col-md-5">
          <h3 class="font-gray">¿El límite es por envíos o por respuestas?</h3>
          <p class="font-gray">Los límites de cada plan son por número de envíos, es decir la cantidad de clientes que deseas encuestar.</p>
        </div>
        <div class="col-md-1 text-center">
          <%= image_tag("static/Recurso 12-8.png", class: "img-100 margin-top-5") %>
        </div>
      </div>
      <div class="row margin-top-5 text-center center-block">
        <div class="col-md-5">
          <h3 class="font-gray">¿En qué consiste la prueba gratis?</h3>
          <p class="font-gray">La idea es que pruebes cómo funciona la herramienta y que además tengas un volumen representativo de respuestas que te sirva para obtener conclusiones.<br>Para ello podrás contactar hasta 250 clientes en un periodo de un mes.</p>
        </div>
        <div class="col-md-1 text-center center-block">
        <%= image_tag("static/Recurso 10-8.png", class: "img-100 margin-top-5 padding-top-50") %>
        </div>
        <div class="col-md-5">
          <h3 class="font-gray">¿Qué es la funcionalidad básica?</h3>
          <p class="font-gray">Con la funcionalidad básica estarás limitado a una sola campaña. El resto de las opciones te permite crear tantas campañas como tú quieras, con lo cual podrías segmentar tu análisis(ejemplos: marcas, productos, eventos, geografía, lanzamientos, etc.)</p>
        </div>
        <div class="col-md-1 text-center">
          <%= image_tag("static/Recurso 11-8.png", class: "img-100 margin-top-5") %>
        </div>
      </div>
      <div class="row margin-top-5 text-center center-block">
        <div class="col-md-5">
          <h3 class="font-gray">¿Puedo suspender y reactivar?</h3>
          <p class="font-gray">En cualquier momento. Puedes usar nuestros planes los meses que tú decidas. Configura esta y otras opciones dentro de la administración de tu cuenta.</p>
        </div>
        <div class="col-md-1 text-center">
        <%= image_tag("static/Recurso 9-8.png", class: "img-100 margin-top-5 padding-top-50") %>
        </div>
        <div class="col-md-5">
          <h3 class="font-gray">¿Cuáles son las opciones de pago?</h3>
          <p class="font-gray">De momento nuestros precios están calculados en pesos mexicanos, y las opciones de pago incluyen tarjetas de crédito.</p>
        </div>
        <div class="col-md-1 text-center">
          <%= image_tag("static/Recurso 8-8.png", class: "img-100 margin-top-5") %>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
<%= render "layouts/static_footer" %>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
  window.$_Tawk = undefined;
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/59baffe8c28eca75e46201b4/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
</script>
<!--End of Tawk.to Script-->
