<% @title="Términos y Condiciones - SONE" %>
<% @meta_description = "El presente Aviso recoge los términos y condiciones para la utilización de la aplicación web sone.com.mx (“SONE”)." %>

<div class="row padding-terms">
	<div class="col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
		<div id="title">
			<h3 class="color-text">Términos y condiciones</h3>
		</div>
		<p class="text-top">
			El presente Aviso recoge los Términos y Condiciones que CUSTOMER COMFORT SA DE CV establece para la utilización de la aplicación web sone.com.mx (“SONE”).
		</p>
		<p class="text">
			La utilización de la aplicación SONE y, por tanto, de sus servicios, atribuye directamente la condición de USUARIO e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso que es accesible para cualquier persona que ingrese a la aplicación.
		</p>
		<p class="text">
			Los Términos y Condiciones constituyen un acuerdo válido y obligatorio entre el USUARIO y SONE con relación a la utilización de los SERVICIOS.           
		</p>
		<p class="text">
			El USUARIO debe leer atentamente y aceptar los Términos y Condiciones previo a la utilización de los SERVICIOS. Asimismo, la utilización de los SERVICIOS implica la aceptación plena y sin reservas por el USUARIO de estos Términos y Condiciones y la Política de Privacidad publicada por SONE en su aplicación web, que se complementa con estos Términos y Condiciones. 
		</p>
		<p class="text">
			En caso de no estar de acuerdo con los Términos y Condiciones, el USUARIO debe abstenerse de utilizar los SERVICIOS.
		</p>
		<p class="text">
			El USUARIO declara poseer capacidad legal para contratar y no tener ningún impedimento según las leyes locales y/o de las jurisdicciones aplicables, y se obliga a utilizar los SERVICIOS para un propósito lícito. 
		</p>
		<p class="text">
			Si el USUARIO acepta estos Términos y Condiciones en representación de una compañía u otra entidad legal, el USUARIO manifiesta expresamente que tiene facultades suficientes para obligar a dicha entidad a adherir a estos Términos y Condiciones, en cuyo caso el término “USUARIO” hará referencia a dicha entidad. Si el USUARIO no tiene tales facultades, debe abstenerse de utilizar los Servicios en representación de dicha entidad legal.
		</p>	
		<p class="text">
			EL USUARIO debe ser persona física mayor de edad (18 años en adelante) o persona moral.
		</p>
		<p class="text">
			El USUARIO deberá abstenerse de acceder a los SERVICIOS si es competidor directo de SONE, excepto con el consentimiento previo por escrito de SONE. Además, el USUARIO no puede acceder a los SERVICIOS con el fin de supervisar su disponibilidad, rendimiento o funcionalidad, ni con cualquier otro fin de evaluación comparativa o competitiva.
		</p>
		<p class="text">
			El Usuario consiente en forma expresa en responsabilizarse por cualquier daño o perjuicio que pueda causar a SONE en caso de incumplimiento con dicha obligación de abstención.
		</p>
		<p class="text">
			SONE podrá modificar los Términos y Condiciones en cualquier momento.
		</p>
		<div>
			<h3 class="color-text">Objeto y descripción del servicio</h3>
		</div>  
		<p class="text-top">
			El SERVICIO de SONE permite al USUARIO crear y distribuir sus propias encuestas y acceder a los resultados de las mismas en tiempo real. Incluye el uso del software, almacenaje de bases de datos, diseños relacionados, materiales impresos y documentación en línea o electrónica.	
		</p>
		<p class="text">
			Existen distintos niveles de SERVICIO en función del paquete suscrito por el USUARIO:
		</p>
		<p class="text">
			(I) Prueba gratis: a disposición de cualquier nuevo USUARIO por 30 días calendario con 250 envíos disponibles.
		</p>
		<p class="text">
			(II): Paquete básico: de suscripción automática tras el disfrute de la prueba gratis. Sin costo. Funcionalidad básica. 
		</p>
		<p class="text">
			(III): Paquetes de funcionalidades avanzadas: de suscripción a petición del USUARIO. Exigen pago adelantado.	
		</p>
		<p class="text">
			Las características y funcionalidades de los paquetes de SERVICIOS vigentes de SONE vienen detallados en <%= link_to "http://www.sone.com.mx", root_path%> 
		</p>
		<p>
			SONE se reserva el derecho de modificar dicha oferta sin previo aviso.
		</p>
		<div>
			<h3 class="color-text">Naturaleza del Servicio</h3>
		</div>  
		<p class="text-top">
			El SERVICIO tiene el propósito de ayudar a mejorar el negocio del USUARIO, sin embargo, el USUARIO es responsable de la utilización de los datos obtenidos a través del SERVICIO de SONE.
		</p>
		<p class="text">
			En consecuencia, EL USUARIO acepta ser el único responsable de las decisiones que se tomen con base en los resultados de las encuestas y, por tanto, libera a SONE de cualquier compromiso por pérdidas o menoscabos asociadas a la utilización del SERVICIO.
		</p>
		<div>
			<h3 class="color-text">Tu cuenta</h3>
		</div>   
		<p class="text-top">
			El USUARIO que decida crear una CUENTA para recibir el SERVICIO de SONE acepta ser el único responsable de: (I) mantener la seguridad de la CUENTA y de todas aquellas actividades que se deriven de su utilización; (II) mantener la confidencialidad de su cuenta y contraseña, así como de todo lo que ocurra bajo las mismas.	
		</p>
		<p class="text">
			EL USUARIO que decida crear una CUENTA para recibir el SERVICIO de SONE se compromete a: (I) notificar inmediatamente a SONE cualquier uso no autorizado de su cuenta y/o contraseña o de cualquier otro aspecto de seguridad, (II) asegurarse de salir de su cuenta al finalizar cada sesión y (III) no usar SONE para enviar material publicitario o SPAM.
		</p>
		<p class="text">
			SONE no será responsable de los actos, omisiones o incumplimientos del USUARIO, incluyendo daños de cualquier tipo incurrido como resultado de tales actos, omisiones o incumplimientos.

		</p>
		<div>
			<h3 class="color-text">Reglas de uso</h3>
		</div>   
		<p class="text-top">
			Al crear una CUENTA, el USUARIO se compromete a no utilizar el servicio de SONE para: (I) Enviar, transmitir o hacer llegar de alguna otra manera cualquier contenido ilegal, que dañe o que amenace a otra persona. (II) Enviar encuestas a menores de edad. (III) Hacerse pasar por cualquier persona o entidad. (IV) Hacer disponible algún contenido sin tener el derecho a hacerlo bajo alguna Ley o relaciones contractuales. (V) Hacer disponible cualquier contenido que infrinja alguna patente, marca registrada, secreto comercial, copyright u otros derechos de propiedad. (VI) Spam: Hacer publicidad no autorizada. (VII) Interferir con el servicio, servidores o redes conectadas con el SERVICIO o desobedecer cualquier requisito, procedimiento, política o regulación de las redes conectadas con el SERVICIO. (VIII) Violar intencionadamente o no cualquier Ley local, de ámbito nacional o internacional.
		</p>
		<p class="text">
			El incumplimiento de alguna de las cláusulas descritas anteriormente libera a SONE de su contrato o de cualquier otra obligación legal con el USUARIO.		
		</p>
		<div>
			<h3 class="color-text">Información de clientes</h3>
		</div>
		<p class="text-top">
			La información de los clientes permanecerá bajo la propiedad del USUARIO, entendiendo como tal los datos proporcionados por el USUARIO, directa o indirectamente, a SONE en conexión con el SERVICIO, incluyendo sin limitación cualquier información comercial o de negocio relacionada con el USUARIO. SONE utilizará únicamente la información de clientes de acuerdo a lo estipulado en las <%= link_to "Políticas de Privacidad", politics_path%> de SONE.	
		</p>
		<div>
			<h3 class="color-text">Términos de la suscripción: pagos y renovación</h3>	
		</div>
		<p class="text-top">
			El USUARIO podrá suscribir los SERVICIOS de SONE a través de su plataforma web.
		</p>
		<p class="text">
			Al momento de realizar la contratación de cualquier paquete de SERVICIOS, el USUARIO acepta las condiciones de venta, los precios y las políticas de pago y facturación aplicables a dichos cargos y que aparecen especificados en la dirección <%= link_to "http://www.sone.com.mx/pricing", pricing_path%>,
			con acceso sin necesidad de iniciar sesión.	
		</p>
		<p class="text">
			SONE puede agregar nuevos servicios con cargos adicionales, o cambiar las tarifas y cargos por servicios existentes, en cualquier momento a su sola discreción.
		</p>
		<p class="text">
			La renovación de los paquetes de SERVICIOS se realizará de forma automática una vez completado su periodo de vigencia y manteniéndose los datos de pago proporcionados y acepta- dos en su contrataci
		</p>
		<p class="text">
			Por tanto, el USUARIO reconoce y acepta su responsabilidad de pagar todos los cargos por adelantado durante el plazo de su suscripción. 
		</p>
		<p class="text">
			Adicionalmente, el USUARIO reconoce y está de acuerdo en que su suscripción sea renovada de forma automática.
		</p>
		<p class="text">
			El USUARIO puede modificar su información de pago y/o suscripciones y/o solicitar baja de paquetes de SERVICIOS desde su CUENTA de USUARIO. 
		</p>
		<p class="text">
			Especificaciones:
		</p>
		<p class="text">
			(I) Upgrade o suscripción de un paquete con funcionalidades superiores: puede solicitarse en cualquier momento. El USUARIO accede de manera inmediata al nuevo paquete, siempre que haya aceptado el pago y las condiciones de venta especificadas en <%= link_to "http://www.sone.com.mx/pricing", pricing_path%>.
		</p>
		<p class="text">
			(II) Downgrade o suscripción de un paquete con funcionalidades inferiores: puede solicitarse en cualquier momento. El USUARIO accede al nuevo paquete tras el fin de vigencia del previamente contratado. Para formalizar el procedimiento es necesario aceptar el pago y las condiciones de venta especificadas en <%= link_to "http://www.sone.com.mx/pricing", pricing_path%>.	
		</p>
		<p class="text">
			(III) Suspensión temporal del servicio: puede solicitarse en el momento en el que el USUARIO lo requiera. La baja se hace efectiva tras el fin de vigencia del paquete previamente contratado. El USUARIO es asignado automáticamente al paquete básico de SERVICIOS (gratuito).
		</p>
		<p class="text">
			(IV) Cancelación del servicio: podrá solicitarse en el momento en el que el USUARIO lo requiera. La baja se hace efectiva tras el fin de vigencia del paquete contratado. Esto implica la pérdida automática de la calidad de USUARIO y, por consiguiente, la imposibilidad de continuar en el uso de los SERVICIOS.
		</p>
		<div>
			<h3 class="color-text">No Reembolso</h3>	
		</div>
		<p class="text-top">
			El pago de paquetes de SONE se hace por adelantado y sin opción a reembolso en ningún caso. Es responsabilidad del USUARIO hacer uso de los beneficios del paquete de SERVICIOS suscrito antes de la fecha de expiración del mismo.
		</p>
		<div>
			<h3 class="color-text">Seguridad</h3>	
		</div>
		<p class="text">
			SONE ha implementado medidas estándares de seguridad en el ámbito comercial, técnico y administrativo orientadas a proteger la información del USUARIO de pérdida accidental y uso sin autorización por parte de terceros. Sin embargo, el USUARIO reconoce que SONE no puede garantizar ni se hace responsable de que terceras partes sin autorización sean capaces de romper dichas medidas.
		</p>
		<div>
			<h3 class="color-text">Uso de cookies</h3>	
		</div>
		<p class="text-top">
			El acceso a la web de SONE implica la utilización de cookies con el objeto de reconocer a los usuarios que se hayan registrado y poder ofrecerles un mejor y más personalizado servicio así como información técnica.
		</p> 
		<p class="text">
			Las cookies son ficheros de texto de tamaño pequeño que se almacenan en el disco duro o en la memoria del ordenador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente puede utilizarse.
		</p>
		<p class="text">
			Aquellos usuarios que no deseen recibir cookies o quieran ser informados antes de que se almacenen en su ordenador, puede configurar su navegador a tal efecto.
		</p>
		<div>
			<h3 class="color-text">Información del Usuario</h3>
		</div>
		<p class="text-top">
			De acuerdo con la <%= link_to "Política de Privacidad", politics_path%>, SONE puede almacenar cierta información personal y utilizarla para ofrecer al USUARIO servicios personalizados, información y ofertas y encuestas a través de sus servicios. 
			<br><br>
			El USUARIO puede pedir a SONE en cualquier momento que deje de proveer estos servicios. En ciertas circunstancias puede necesitar revelar información sobre el USUARIO si infringe los términos y condiciones. 
			<br><br>
			SONE también puede revelar o acceder a la cuenta del usuario si la Ley o cualquier administración pública o gubernamental lo requiere.
		</p>
		<div>
			<h3 class="color-text">Propiedad intelectual</h3>
		</div>
		<p class="text-top">
			Los servicios del uso de software son protegidos por leyes de copyright y tratados internacionales del copyright, así como otras leyes y tratados de carácter intelectual. Los servicios del uso de software se licencian, no se venden. Todos los derechos de título y de propiedad intelectual en el contenido que se accede por medio del uso del software de la aplicación es propiedad del respectivo dueño del contenido y también esta protegido por el copyright y otras leyes de la propiedad intelectual.
		</p>
		<div>
			<h3 class="color-text">Terminación </h3>
		</div>
		<p class="text-top">
			SONE se reserva el derecho a no prestar alguno o todos los servicios a cualquier USUARIO por cualquier razón y en cualquier momento. El usuario está de acuerdo en que SONE puede bloquear su dirección IP en cualquier momento, así como no permitir el uso del web site de SONE.
		</p>
		<div>
			<h3 class="color-text">Límites de Responsabilidad</h3>
		</div>
		<p class="text-top">
			Dada la naturaleza de Internet en general y de los servicios interactivos en particular, SONE no ofrece ninguna garantía ni compromiso de que la utilización del SERVICIO esté libre de interrupciones o errores, y SONE no tendrá ninguna responsabilidad u obligación relacionada con comunicaciones o defectos, demoras o fallos de la red (tanto si son temporales como si no) mientras se utiliza el sitio web SONE. En ese sentido, SONE se compromete a mantener los más altos niveles de calidad del servicio en la medida de sus posibilidades, sin perjuicio de todo lo anterior.
		</p>
		<p class="text">
			El USUARIO reconoce que debe aplicar su propia habilidad y criterio cuando utilice el SERVICIO de SONE. A su vez, admite ser responsable único de la utilización de los datos obtenidos a través del SERVICIO, eximiendo a SONE de cualquier compromiso al respecto.
		</p>
		<p class="text">
			Pulsando en ciertos enlaces del sitio de SONE, el usuario puede ser redirigido a webs ajenas, de terceros, y, por ende, sobre los que SONE no tiene ninguna responsabilidad ni obligación alguna respecto a la exactitud o contenido de información u otro aspecto dichas webs.
		</p>
		<p class="text">
			SONE se reserva el derecho a no prestar alguno o todos los servicios a cualquier USUARIO por cualquier razón y en cualquier momento. El usuario está de acuerdo en que SONE puede bloquear su dirección IP en cualquier momento, así como no permitir el uso del web site de SONE.
		</p>
		<p class="text">
			SSONE no es responsable de la compatibilidad de la herramienta con otros programas y aplicaciones utilizados por el USUARIO.
		</p>
		<p class="text">
			Toda aquella información, software, productos, servicios y gráficos se proporcionan tal como están sin ningún tipo de garantía. SONE y sus respectivos proveedores niegan por este medio todas las garantías y condiciones con respecto a esta información, software, productos, servicios y gráficos relacionados, incluyendo todas las garantías y condiciones de comercialización implicadas para un propósito particular.
		</p>
		<p class="text" style="padding-bottom: 35px;">
			El USUARIO entiende y acepta que utiliza el SERVICIO a su propia discreción y riesgo.
		</p>
	</div>
</div>
<%= render "layouts/static_footer" %>
