<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <style>
    
    body{
      background-image: url("<%= root_url %>login-background.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100vw 100vh;
      height: 100vh;
      width: 100vw;
    }

    .registrate-gratis{
      color: #cbc86f;
      text-align: center;
      font-size: 38px;
    }

    .login-icons{
      height: auto;
      padding: 3px;
      margin: 10px;
      z-index: 5;
      position: relative;
    }

    .login-icons:hover{
      border: 1px solid #9a4479;
      border-radius: 50%;
      /*width: 45px;*/
  /*    height: 45px;
      padding: 13px;*/
    }

    .con{
      margin: 2px;
      text-align: center;
      font-size: 20px;
    }

    #compu{
      position: absolute;
      width: 65vw;
      height: auto;
      right: 1vw;
      bottom: 0vh;
      z-index: 3;
    }

    #login-button{
      background-color: #9a4479;
      color: white;
      border-radius: 50px;
      width: 40%;
    }

    .container-margin{
      border: 1px solid #9a4479;
      border-bottom: none;
      margin: 5% 4%;
      padding: 5% 4%;
      margin-bottom: 0;
      padding-bottom: 0;
      z-index: 0;
    }

    .tienes-cuenta{
      margin-top: 45%;
    }
    .border-pink{
      border-color: #9a4479!important;
      border-radius: 0px!important;
      background-color: rgba(0, 0, 0, 0)!important; 
    }
    .img-100{
      max-width: 50%;
    }
    .text-center{
      text-align: center;
    }
    .margin-top-20{
      margin-top: -50px!important;
    }
/*     .img-border{
      border: 1px solid #9a4479;
      border-radius: 100px;
      margin-bottom: 100px
      padding: 15px
    } 
*/    .img-abs{
      position: absolute;
      max-width: 7%;  
      padding-left: 5px;
      padding-top:2%;
      margin: 6px;
    }
    .padding-left-15{
      padding-left: 18!important%;
    }
    .margin-top-up{
      margin-top: -30%!important;
    }
    .padding-inside{
      padding: 7%;
      padding-left: 12%;
    }
    
    .input-pink {
      color: #9a4479;
    }
      .gray {
      color: #606060;
    }

    textarea:focus,
    input[type="text"]:focus,input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    .uneditable-input:focus {   
    border-color: #b2427c;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #b2427c;
    outline: 0 none;
    } 
      
    @media (min-width: 992px){
      .login-icons{
        width: 50%;
      }
      .container-margin::after{
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        height: 45%;
        width: 10%;
        z-index: 1;
        background-image: url("<%= root_url %>login-background.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
      }
    }
    @media (max-width: 991px){
     .login-icons{
        width: 35px;
      }
      .width {
        width: 100%;
        height: auto;
        z-index: 1;
      }
    }
  </style>

</head>
<body>
  
  <div class="container-fluid">
    <div class="container-margin">
      <img id="compu" class="hidden-sm hidden-xs" src="<%= root_url %>login-pc.png">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <h1 class="registrate-gratis">¡Regístrate gratis!</h1>
        </div>
      </div>

      <div class="row">
      <div class="col-md-4 text-center">
        <%= image_tag("static/sone-logo.svg", class: "img-100 margin-top-20  hidden-sm hidden-xs") %>
      </div>
        <div class="col-xs-4 text-center width">
          <div class="row text-center">
            <div class="col-xs-3 col-md-3">
              <p class="con gray">con</p>
            </div>
            <div class="col-xs-3 col-md-3">
              <%= link_to user_facebook_omniauth_authorize_path do %>
                <img class="login-icons" src="<%= root_url %>face-icon.svg" alt="">
              <% end %>
            </div>
            <div class="col-xs-3 col-md-3">
              <%= link_to user_google_oauth2_omniauth_authorize_path do %>
                <img class="login-icons" src="<%= root_url %>google-plus.svg" alt="">
              <% end %>
            </div>
            <div class="col-xs-3 col-md-3">
              <%= link_to new_user_registration_path do %>
              <img class="login-icons" src="<%= root_url %>mail.svg" alt="">
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="row margin-top-up">
            <div class="col-md-12">
              <h3 class="tienes-cuenta gray">¿Ya tienes una cuenta?</h3>
            </div>
            <div class="col-md-12">
              <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal') do |f| %>
                <div class="form-group">
                  <%= image_tag("icono-mail.svg", class: " img-responsive img-abs") %>
                  <%= f.email_field :email, autofocus: true, class: 'form-control border-pink padding-left-15 padding-inside input-pink', placeholder: "¿Cuál es tu email?".html_safe %>
                </div>

                <div class="form-group">
                  <%= image_tag("iconos-block.svg", class: " img-responsive img-abs") %>
                  <%= f.password_field :password, autocomplete: "off", class: 'form-control border-pink padding-left-15 padding-inside', placeholder: 'Contraseña' %>
                </div>

                <%# if devise_mapping.rememberable? -%>
                  <!-- <div class="form-group">
                    <%#= f.check_box :remember_me %>
                    <%#= f.label 'Recordarme', class: 'control-label' %>
                  </div> -->
                <%# end -%>

                <div class="form-group">
                  <%= f.submit "Iniciar Sesión", class: 'btn pull-right', id: 'login-button' %>
                </div>
              <% end %>

              <%#= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
