<br>

<div class="row feedback-answer-titles">
  <div class="col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2">
    <h4>Respuestas: <%= @nps_sample_count %></h4>
    <div class="feedback-stat-first">
      <span class="feedback-icon-info text-center" id="selected-date-feedback"><%= @date_range %></span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2">
    <h4>Promoters</h4>
    <div class="feedback-stat">
      <span class="feedback-icon-info" data-feedback-type='promoter'>
        <%= fa_icon 'smile-o', class: 'feedback-icon' %> <%= @data_percentages[:promoters] %> %
      </span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2">
    <h4>Passives</h4>
    <div class="feedback-stat">
      <span class="feedback-icon-info" data-feedback-type='passive'>
        <%= fa_icon 'meh-o', class: 'feedback-icon' %> <%= @data_percentages[:passives] %> %
      </span>
    </div>
  </div>
  <div class="col-md-2 col-sm-2">
    <h4>Detractors</h4>
    <div class="feedback-stat">
      <span class="feedback-icon-info" data-feedback-type='detractor'>
        <%= fa_icon 'frown-o', class: 'feedback-icon' %> <%= @data_percentages[:detractors] %> %
      </span>
    </div>
  </div>
</div>

<br>

<div class="row">
  <% @contacts_feedback.each do |answer| %>
    <div class="row feedback-answer container-fluid">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <%= fa_icon(Answer.get_icon(answer.score), class: 'feedback-icon') %>
              <span class="feedback-answer-date pull-right">
                <%= answer.created_at.strftime("%d / %m / %Y") %>
              </span>
            </h4>
          </div>
          <div class="panel-body">
            <% if answer.comment.blank? %>
              <h5 class="text-center">Sin comentario</h5>
            <% else %>
              <%= answer.comment %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <%= will_paginate @contacts_feedback, inner_window: 3, outer_window: 1 %>
  </div>
</div>
