<%= form_for(@campaign, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @campaign.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@campaign.errors.count, "error") %> prohibited this campaign from being saved:</h4>

      <ul>
      <% @campaign.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
    <h3 class="pink titulo"><span class="glyphicon glyphicon-plus circle"></span> Crear Campaña</h3>
    <br>
      <div class="form-group">
        <div class="col-sm-10">
          <%= f.text_field :name, class: "form-control form-pink", placeholder:"nombre" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <%= f.text_field :sender_name, class: "form-control form-pink", placeholder:"Nombre del remitente" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10">
          <%= f.text_field :sender_email, class: "form-control form-pink", placeholder:"Email del remitente" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 gray">
          <%#= f.file_field :logo,class: "filestyle", "data-input" => false %>
          <!-- <div class="image-upload"> -->
           <!-- <label for="file-input">
             <span class="glyphicon glyphicon-download-alt gray-sone"></span>
           </label> -->
           <%= f.file_field :logo, id:"file-input gray-sone", class: "gray-sone filestyle", style:" font-size: 12px;" %>

          <!-- </div> -->
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-2 col-ms-2">

          <%= f.text_field :color, input_html: {data: {minicolors: {theme: :bootstrap}}}, as: :minicolors, placeholder:"Color",class: "form-control colorpicker form-pink" %>
  
        </div>
      </div>
      <%= image_tag("cel.png", class: "img-responsive img-center") %>
    </div>
    <div class="col-md-4">
      <h3 class="pink text-center">Vista previa</h3>
      <%= image_tag("iphone.png", class: "img-responsive img-center") %>

    </div>
    <div class="col-md-4">
      <div class="form-group">
      <h4 class="pink titulo"><span class="glyphicon glyphicon-plus circle"></span> Añade topics a tu campaña</h4>
      <p class="gray">Los topics son atributos (información que acompañan a las direcciones de correo de tus clientes). Al incluirlos, el diagnóstico sobre la experiencia que tu marca ofrece será más completo.</p>
        <%= f.label :tmp_topics, 'Topics', class: "col-sm-2 control-label text-gray-form" %>
        <div class="col-sm-10">
          <ul class="gray">
          <% Campaign.contact_topics.each do |t_spanish, t_english| %>
            <%= f.check_box :topics, { multiple: true, class: "" }, t_english, nil %>
            <%= t_spanish %>
            <%#= t_spanish.label(class: "roundedTwo") { t_spanish.check_box + t_spanish_text } %>
            <br>
          <% end %>
          </ul>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-5">
            <%= f.submit "continuar", class: "btn btn-default send-button button-100" %>
          </div>
          <div class="col-sm-offset-1 col-sm-5 ">
            <%= link_to(campaigns_path, class: 'btn btn-default send-button button-100') do %>
              Salir
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
  
<% end %>
