<%= provide :title, t("views.campaigns.dashboard.title") %>

<% if @no_campaigns %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= t("views.campaigns.dashboard.no_campaigns_message") %></h1>
      <h2><%= t("views.campaigns.dashboard.no_campaigns_message1") %></h2>
    </div>
  </div>
<% else %>
  <% if @filters %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 well">
        <h4 class="text-center"><%= t("views.campaigns.dashboard.filters_table.table_title") %></h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <td><h5><%= t("views.campaigns.dashboard.filters_table.td1") %></h5></td>
                <td><h5><%= t("views.campaigns.dashboard.filters_table.td2") %></h5></td>
                <td><h5><%= t("views.campaigns.dashboard.filters_table.td3") %></h5></td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="label label-default filter-label"><%= @filters[:date] %></span>
                </td>
                <td>
                  <% @filters[:campaigns].each do |campaign| %>
                    <span class="label label-default filter-label"><%= campaign.is_a?(Campaign) ? campaign.name : campaign %></span>
                  <% end %>
                </td>
                <td>
                  <% @filters[:topics].each do |topic| %>
                    <span class="label label-default filter-label"><%= Campaign.translated_topics[topic]  %></span>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-1 col-md-offset-2">
      <button class="btn btn-default filter-collapse-btn" type="button" data-toggle="collapse" data-target="#filter" aria-expanded="false" aria-controls="filter">
        <%= t("views.campaigns.dashboard.filters_table.collapse_button") %>
      </button>
    </div>
    <div class="col-md-2">
      <%= link_to t("views.campaigns.dashboard.filters_table.reset_button"), user_dashboard_path, class: 'btn btn-default send-button' %>
    </div>
    <div class="col-md-2 col-md-offset-3">
      <% date = @active_filter || '1' %>
      <%= link_to t("views.campaigns.dashboard.filters_table.download_button"), user_dashboard_path(format: :csv, nps_date: date), class: 'btn btn-default send-button', id: 'download-report' %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 collapse" id="filter">
      <%= form_for :filter, url: user_dashboard_path, method: :post, html: { id: 'filter-form' } do |f| %>
        <!-- DO NOT REMOVE DATEPICKER RANGE -->
        <!-- <div class="form-group">
          <div class="input-daterange">
            <div class="row">
              <div class="col-md-6"><%#= f.text_field :start_date, class: 'form-control', placeholder: 'Fecha >= a' %></div>
              <div class="col-md-6"><%#= f.text_field :end_date, class: 'form-control', placeholder: 'Fecha <= a' %></div>
            </div>
          </div>
        </div> -->

        <table class="table table-condensed" id="filter-table">
          <thead class="container-shadow">
            <tr>
              <th class="dashboard-filter-titles"><%= t("views.campaigns.dashboard.filter_form.th1") %></th>
              <th class="dashboard-filter-titles"><%= t("views.campaigns.dashboard.filter_form.th2") %></th>
              <th class="dashboard-filter-titles"><%= t("views.campaigns.dashboard.filter_form.th3") %></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <br>
                <%= f.select :nps_date, Campaign.nps_dates.map { |key, value| [value, key] }, { selected: @active_filter }, class: 'report-select' %>
                <div class="form-group">
                  <%= f.submit t("views.campaigns.dashboard.filter_form.submit_button"), class: 'btn btn-default send-button button-100' %>
                </div>
              </td>
              <td>
                <br>
                <%= button_tag t("views.campaigns.dashboard.filter_form.button_tag"), id: 'all-campaigns' %>
                <div class="form-group" id="campaigns-checkboxes">
                  <% User.find(params[:id]).campaigns.each do |campaign| %>
                    <% if @selected_campaigns.size == 0 || @selected_campaigns.include?(campaign.id.to_s) %>
                      <%= check_box_tag "campaigns[]", campaign.id, { checked: true }, id: campaign.name  %>
                    <% else %>
                      <%= check_box_tag "campaigns[]", campaign.id, nil, id: campaign.name %>
                    <% end %>
                    <%= label_tag campaign.name, campaign.name, class: 'control-label', for: campaign.name %>
                    <br>
                  <% end %>
                </div>
              </td>
              <td>
                <br>
                <%= button_tag t("views.campaigns.dashboard.filter_form.button_tag1"), id: 'all-topics' %>
                <div class="form-group" id="topics-checkboxes">
                  <% @used_topics = Campaign.active_topics(current_user) %>
                  <% Campaign.contact_topics.each do |key, value| %>
                    <% next unless @used_topics.include?(value) %>
                    <% if @selected_topics.include? value %>
                      <%= check_box_tag "topics[]", value, { checked: true } %>
                    <% else %>
                      <%= check_box_tag "topics[]", value, nil, id: value %>
                    <% end %>
                    <%= label_tag value, Campaign.translated_topics[value], class: 'control-label' %>
                    <br>
                  <% end %>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-md-3 col-md-offset-4">
            <div class="form-group">
              <%#= f.submit 'Filtrar', class: 'btn btn-default send-button button-100', style: "margin-top:5%" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="dashboard-title-section"><%= t("views.campaigns.dashboard.graph.title") %></h1>
      <br>
      <div id="graph_report"></div>
    </div>

    <%= javascript_tag do %>
      window.graphX = <%= @nps.dates.inspect.html_safe %>
      
      <%=
        
        graph_generate(
          'graph_report',
          data: {
            x: 'x',
            columns: [
              ['x'] + @nps.dates,
              ['data1'] + @nps.cumulative_nps,
              ['data2'] + @nps.cumulative_detractors,
              ['data3'] + @nps.cumulative_passives,
              ['data4'] + @nps.cumulative_promoters,
              ['data5'] + @nps.nps,
              ['data6'] + @nps.detractors,
              ['data7'] + @nps.passives,
              ['data8'] + @nps.promoters              
            ],
            names: {
              data1: t("views.campaigns.dashboard.graph.column1"),
              data2: t("views.campaigns.dashboard.graph.column2"),
              data3: t("views.campaigns.dashboard.graph.column3"),
              data4: t("views.campaigns.dashboard.graph.column4"),
              data5: t("views.campaigns.dashboard.graph.column5"),
              data6: t("views.campaigns.dashboard.graph.column6"),
              data7: t("views.campaigns.dashboard.graph.column7"),
              data8: t("views.campaigns.dashboard.graph.column8")
            },
            # groups: [
            #   ['Cumulative NPS', 'Cumulative Detractors', 'Cumulative Passives', 'Cumulative Promoters'],
            #   ['NPS', 'Detractors', 'Passives', 'Promoters']
            # ],
            # hide:['Cumulative Detractors', 'Cumulative Passives', 'Cumulative Promoters'],
            axes: {
              'NPS' => 'y'
            }
          },
          tooltip: {
            contents: "function(d, defaultTitleFormat, defaultValueFormat, color){
                        //console.log(d);
                        
                        var content = '<table class=\"c3-tooltip\"><tbody>';
                        content += '<tr><th colspan=\"2\">'+window.graphX[d[0].x]+'</th></tr>';

                        for(var i = 0;i<d.length;i++){
                          console.log(d[i]);
                          if($(\".c3-legend-item-data1\").hasClass(\"c3-legend-item-hidden\")){
                            if(d[i].id == 'data2' || d[i].id == 'data3' || d[i].id == 'data4') continue;
                          }

                          if($(\".c3-legend-item-data5\").hasClass(\"c3-legend-item-hidden\")){
                            if(d[i].id == 'data6' || d[i].id == 'data7' || d[i].id == 'data8') continue;
                          }
                          var currentColor = this.levelColor ? this.levelColor(d[i].value) : color(d[i].id)
                          content += '<tr class=\"c3-tooltip-name-'+d[i].name+'\">';
                          content += '<td class=\"name\"><span style=\"background-color:'+currentColor+'\"></span>'+d[i].name+'</td>';
                          content += '<td class=\"value\">'+d[i].value+'</td></tr>';
                        }
                          content += '</tbody></table>'
                        return content;
                      }"
          },
          grid:{
            y:{
              show: true
            },
            x: {
              show: true
            }
          },
          legend: {
            hide: ["data2", "data3", "data4", "data6", "data7", "data8"]
          },
          axis: {
            x: {
              type: 'category',
              tick: {
                rotate: 50,
                multiline: false,
                culling: {
                  max: 3
                }
              }
            },
            y: {
              max: 95,
              min: -95
            }
          },
          grid: {
            x: { show: true },
            y: { show: true }
          }
        )
      %>
      
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <h1>
        <span class="label label-default">
          <span id="selected-date-feedback"><%= t("views.campaigns.dashboard.graph.main_score") %></span>
          <% if @nps_30_fixed %>
            <%= @nps_30_fixed.cumulative_nps.last %>
          <% else %>
            <%= @nps.cumulative_nps.last %>
          <% end %>
        </span>
      </h1>
    </div>
  </div>

  <div id="contacts-feedback"><%= render partial: 'feedback' %></div>
<% end %>

