<%= provide :title, 'Dashboard' %>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <%= form_for :filter, url: user_dashboard_path, method: :post, html: { id: 'filter-form' } do |f| %>
      <div class="form-group">
        <h2>Período</h2>
        <%= f.select :nps_date, Campaign.nps_dates.map { |key, value| [value, key] }, { selected: @active_filter }, class: 'report-select' %>
      </div>

      <h2>Campañas</h2>
      <%= button_tag 'Todas las campañas', id: 'all-campaigns' %>
      <div class="form-group" id="campaigns-checkboxes">
        <% current_user.campaigns.each do |campaign| %>
          <%= label_tag campaign.name, campaign.name, class: 'control-label' %>
          <% if @selected_campaigns.size == 0 || @selected_campaigns.include?(campaign.id.to_s) %>
            <%= check_box_tag "campaigns[]", campaign.id, { checked: true } %>
          <% else %>
            <%= check_box_tag "campaigns[]", campaign.id %>
          <% end %>
          <br>
        <% end %>
      </div>

      <h2>Topics</h2>
      <div class="form-group" id="topics-checkboxes">
        <% Campaign.contact_topics.each do |key, value| %>
          <%= label_tag value, value.capitalize, class: 'control-label' %>
          <% if @selected_topics.include? value %>
            <%= check_box_tag "topics[]", value, { checked: true } %>
          <% else %>
            <%= check_box_tag "topics[]", value %>
          <% end %>
          <br>
        <% end %>
      </div>

      <!-- DO NOT REMOVE DATEPICKER RANGE -->
      <!-- <div class="form-group">
        <div class="input-daterange">
          <div class="row">
            <div class="col-md-6"><%#= f.text_field :start_date, class: 'form-control', placeholder: 'Fecha >= a' %></div>
            <div class="col-md-6"><%#= f.text_field :end_date, class: 'form-control', placeholder: 'Fecha <= a' %></div>
          </div>
        </div>
      </div> -->

      <div class="form-group">
        <%= f.submit 'Filtrar', class: 'btn btn-default send-button button-100' %>
      </div>
    <% end %>
  </div>

  <div class="col-md-2 col-md-offset-2">
    <%= link_to "Quitar filtros", user_dashboard_path, class: 'btn btn-default send-button' %>
  </div>

  <div class="col-md-2">
    <% date = @active_filter || '1' %>
    <%# feedback_type = @feedback_type || 'none' %>
    <!-- <%#= link_to "Descargar reporte", user_dashboard_path(format: :csv, nps_date: date, feedback_type: feedback_type), class: 'btn btn-default send-button', id: 'download-report' %> -->
    <%= link_to "Descargar reporte", user_dashboard_path(format: :csv, nps_date: date), class: 'btn btn-default send-button', id: 'download-report' %>
    <h3><%= @feedback_type %></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div id="graph_report"></div>
  </div>

  <%= javascript_tag do %>
    <%=
      graph_generate(
        'graph_report',
        data: {
          x: 'x',
          columns: [
            ['x'] + @nps.dates,
            ['NPS'] + @nps.nps,
            ['Detractors'] + @nps.detractors,
            ['Passives'] + @nps.passives,
            ['Promoters'] + @nps.promoters
          ],
          axes: {
            'NPS' => 'y'
          }
        },
        legend: {
          show: false
        },
        axis: {
          x: {
            type: 'category',
            tick: {
              rotate: 50,
              multiline: false,
              culling: {
                max: 3
              }
            }
          },
          y: {
            max: 95,
            min: -95
          }
        }
      )
    %>
  <% end %>
</div>

<div id="contacts-feedback"><%= render partial: 'feedback' %></div>
