<div class="page-header">
  <%= link_to new_campaign_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Campaign
  <% end %>
  <h1>Listing campaigns</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Sender name</th>
            <th>Sender email</th>
            <th>Logo</th>
            <th>Color</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @campaigns) do |campaign| %>
            <td><%= campaign.name %></td>
            <td><%= campaign.sender_name %></td>
            <td><%= campaign.sender_email %></td>
            <td><%= campaign.logo %></td>
            <td><%= campaign.color %></td>
            <td><%= link_to 'Show', campaign %></td>
        <td><%= link_to 'Edit', edit_campaign_path(campaign) %></td>
        <td><%= link_to 'Destroy', campaign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
