<% provide(:title, 'Campañas') %>

<div class="row" style="margin-left: 0;margin-right: 0;column-rule-style: ">
  <div class="col-md-10 col-md-offset-1">

    <div class="table-responsive table-shadow">
      <table class="table table-striped table-bordered table-hover table-no-margin">
        <thead>
          <tr id="tr-pad">
            <th class="th-no-border">Name</th>
            <th class="th-no-border">Sender Name</th>
            <th class="th-no-border">Sender Email</th>
            <th class="th-no-border">Total Surveys</th>
            <th class="th-no-border">New Answers</th>
            <th class="th-no-border">Logo</th>
            <th class="th-no-border">Color</th>
            <th class="th-no-border"><span class="glyphicon glyphicon-pencil"></span></th>
            <th class="th-no-border center"><span class="glyphicon glyphicon-trash"></span></th>
          </tr>
        </thead>
        <tbody>
          <% @campaigns.each_with_index do |campaign, index| %>
            <%if index == 0%>
              <tr class="td-no-border">
                <td class="text-center tr-pad td-no-border padding-bottom middle-align"><%= link_to 'name', campaign, class: "black"%></td>
                <td class="tr-pad text-center td-no-border padding-bottom middle-align"><%= campaign.sender_name %></td>
                <td class="tr-pad text-center td-no-border padding-bottom middle-align"><%= campaign.sender_email %></td>
                <td class="tr-pad text-center td-no-border padding-bottom middle-align"><%= campaign.surveys_counter %></td>
                <td class="tr-pad text-center td-no-border padding-bottom middle-align"><%= campaign.new_answers %></td>
                <td class="tr-pad text-center td-no-border padding-bottom middle-align width-10"><%= image_tag(campaign.logo, class: "logo-cam") %></td>
                <td class="tr-pad text-center td-no-border padding-bottom middle-align"><div class="box-color text-center div-center" style="background-color: <%=campaign.color%>;"></div></td>
                <td class="text-center tr-pad td-no-border padding-bottom middle-align"><%= link_to 'edit', edit_campaign_path(campaign), class: "black" %></td>
                <td class="text-center tr-pad td-no-border padding-bottom middle-align"><%= link_to 'destroy', campaign, class: "black", method: :delete, data: { confirm: 'Are you sure?' }%></td>
              </tr>
            <% else %>
              <tr>
                <td class="td-no-border text-center padding-bottom middle-align"><%= campaign.name %></td>
                <td class="td-no-border text-center padding-bottom middle-align"><%= campaign.sender_name %></td>
                <td class="td-no-border text-center padding-bottom middle-align"><%= campaign.sender_email %></td>
                <td class="td-no-border text-center padding-bottom middle-align"><%= campaign.surveys_counter %></td>
                <td class="td-no-border text-center padding-bottom middle-align"><%= campaign.new_answers %></td>
                <td class="td-no-border text-center padding-bottom middle-align width-10"><%= image_tag(campaign.logo,class: "logo-cam") %></td>
                <td class="td-no-border text-center padding-bottom middle-align"><div class="box-color div-center" style="background-color: <%=campaign.color%>;"></div></td>
                <td class="text-center td-no-border padding-bottom middle-align"><%= link_to 'show', campaign, class: "black"%></td>
                <td class="text-center td-no-border padding-bottom middle-align"><%= link_to 'edit', edit_campaign_path(campaign), class: "black" %></td>
                <td class="text-center td-no-border padding-bottom middle-align"><%= link_to 'destroy', campaign, class: "black", method: :delete, data: { confirm: 'Are you sure?' }%></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
