<%= provide :title, 'Reportes' %>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <%= search_form_for @search, url: report_campaign_path, method: :post do |f| %>
      <%= f.condition_fields do |c| %>
        <div class="form-group">
          <%= c.attribute_fields do |a| %>
            <%= a.attribute_select associations: [:contacts] %>
          <% end %>
          <%= c.predicate_select %>
          <%= c.value_fields do |v| %>
            <%= v.text_field :value %>
          <% end %>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit 'Filtrar', class: 'btn btn-default send-button button-100' %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div id="graph_report"></div>
  </div>

  <%= javascript_tag do %>
    <%=
      graph_generate(
        'graph_report',
        data: {
          x: 'x',
          columns: [
            ['x'] + @nps.dates,
            ['NPS'] + @nps.nps,
            ['Detractors'] + @nps.detractors,
            ['Passives'] + @nps.passives,
            ['Promoters'] + @nps.promoters
          ],
          axes: {
            'NPS' => 'y'
          }
        },
        legend: {
          show: false
        },
        axis: {
          x: {
            type: 'category'
          },
          y: {
            max: 95,
            min: -95
          }
        }
      )
    %>
  <% end %>
</div>

<table>
  <tr>
    <th>Campaign Name</th>
  </tr>
  <% @campaigns.each do |c| %>
    <tr>
      <td><%= c.name %></td>
    </tr>
  <% end %>
</table>
<br>
<br>
<br>
