<div class="row">
  <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
    <div class="page-header">
      <div class="row">
        <div class="col-md-4">
          <h1 class="border-left"><%= @campaign.name %></h1>
        </div>
        <div class="col-md-4 col-md-offset-4 col-xs-4 col-xs-offset-1 col-sm-5">
          <%= link_to 'Reporte', report_campaign_path(@campaign), class: 'btn btn-default pink-show', id: 'view-report' %>
          <%= link_to campaigns_path, class: 'btn btn-default pink-show' do %>
            Regresar
          <% end %>
          <%= link_to edit_campaign_path(@campaign), class: 'btn btn-default pink-show' do %>
            Editar
            <span class="glyphicon glyphicon-pencil"></span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row margin-bot">
      <div class="col-md-3 align-center">
        <%= image_tag(@campaign.logo_url.to_s, class: "logo") %>
      </div>
      <div class="col-md-3 align-center">
        <p class="text-pink">Nombre:</p>
        <p class="text-gray"><%= @campaign.name %></p>
      </div>
      <div class="col-md-3 align-center">
        <p class="text-pink">Email del Remitente:</p>
        <p class="text-gray"><%= @campaign.sender_email %></p>
      </div>
      <div class="col-md-3 align-center">
        <p class="text-pink">Creada el:</p>
        <p class="text-gray"><%= @campaign.created_at.strftime("%d-%m-%Y") %></p>
      </div>
    </div>

    <div class="row text-center contact-stats">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-10 contact-stats-box">
            <h4>Enviados</h4>
            <span class="contact-stat"><%= @campaign.mails_sent %></span>
            <span class="badge"><%= number_to_percentage(@campaign.percentage_sent, precision: 1) %></span>
          </div>
          <div class="col-md-10 contact-stats-box">
            <h4>No Enviados</h4>
            <span class="contact-stat"><%= @campaign.mails_not_sent %></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-10 contact-stats-box">
            <h4>Contestados</h4>
            <span class="contact-stat"><%= @campaign.mails_answered %></span>
            <span class="badge"><%= number_to_percentage(@campaign.percentage_answered, precision: 1) %></span>
          </div>
          <div class="col-md-10 contact-stats-box">
            <h4>No Contestados</h4>
            <span class="contact-stat"><%= @campaign.mails_not_answered %></span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-10 contact-stats-box">
            <h4>Suscripciones canceladas</h4>
            <span class="contact-stat unsubscribed-stat"><%= @campaign.unsubscribes %></span>
            <span class="badge"><%= number_to_percentage(@campaign.percentage_unsubscribed, precision: 1) %></span>
          </div>
          <div class="col-md-10 contact-stats-box">
            <% campaign_last_sent = (@campaign.last_sent)? @campaign.last_sent.strftime("%d-%m-%Y") : 'Sin enviar' %>
            <h4>Último envío</h4>
            <span class="contact-stat last-sent-stat"><%= campaign_last_sent %></span>
          </div>
        </div>
      </div>
    </div>

    <br><br><br>

    <div id="nps_score" class="shadow-box"></div>
    <%= javascript_tag do %>
      <%=
        graph_generate(
          'nps_score',
          data: {
            x: 'x',
            columns: [
              ['x'] + @nps.dates,
              ['NPS'] + @nps.nps,
              ['Detractors'] + @nps.detractors,
              ['Passives'] + @nps.passives,
              ['Promoters'] + @nps.promoters
            ],
            axes: {
              'NPS' => 'y'
            }
          },
          legend: {
            show: false
          },
          axis: {
            x: {
              type: 'category'
            },
            y: {
              max: 95,
              min: -95
            }
          }
        )
      %>
    <% end %>

    <h1 class="border-left" id="contactos">Contactos de la campaña</h1>

    <% if @campaign.last_sent.nil? %>
      <div class="row">
        <h5>El archivo CSV que importes, deberá contener las siguientes columnas:</h5>
        <table class="table table-striped table-bordered table-hover ">
          <thead>
            <tr>
              <th class='back-gray'>email</th>
              <% @topics.each do |topic| %>
                <th class='back-gray'><%= topic %></th>
              <% end %>
              <th class='back-gray'>name</th>
            </tr>
          </thead>
        </table>

        <h5>Recuerda:</h5>
        <ul>
          <li>Sólo puedes importar archivos CSV (.csv)</li>
          <li>Debes incluir un renglón con las cabeceras (topics) que se muestran y en ese orden</li>
        </ul>
      </div>
      <br><br><br>
    <% end %>

    <br>

    <div class="row">
      <div class="col-md-4 col-md-offset-3 col-sm-4">
        <%= form_for :campaign, url: { controller: 'campaigns', action: 'upload_csv' } do |f| %>
        <div class="form-group">
          <%= f.hidden_field :id %>
          <%= f.file_field :file, placeholder: 'sin archivo', class: 'inputfile' %>
          <%= f.label :file, 'Importar contactos' , class: "control-label" do %>
          <figure><svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17"><path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/></svg></figure> <span>Seleccionar archivo&hellip;</span>
          <% end %>
          <br>
          <%= f.submit 'Importar', class:"btn btn-default send-button import-contacts-btn" %>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4">
        <% unless @campaign.contacts.empty? %>
          <%= link_to send_campaign_path(campaign_id: @campaign.id, sender_email: @campaign.sender_email), controller: 'campaigns', action: 'generate_campaign_mailing', class: 'btn btn-default send-button send-campaign', remote: true, data: { confirm: 'Deseas enviar la campaña?'} do %>
            Enviar<br>Campaña
          <% end %>
        <% else %>
          <div class="text-center">
            <h4>Importa contactos para enviar tu campaña</h4>
          </div>
        <% end %>
      </div>
    </div>

    <br>
    <br>

    <% unless @campaign.invalid_contacts.empty? %>
      <h3>Contactos Inválidos</h3>
      <div class="table-responsive shadow-box">
        <table class="table table-striped table-bordered table-hover ">
          <thead>
            <tr>
              <th class='back-gray'>Email</th>
              <% @topics.each do |topic| %>
                <th class='back-gray'><%= topic.camelize %></th>
              <% end %>
              <th class='back-gray'>Nombre</th>
              <th class='back-gray text-center'><span class="glyphicon glyphicon-pencil"></span></th>
              <th class='back-gray text-center'><span class="glyphicon glyphicon-trash"></span></th>
            </tr>
          </thead>

          <tbody>
            <% @campaign.invalid_contacts.each do |contact| %>
              <% if contact.blacklist.nil? %>
                <tr>
                  <td><%= contact.email %></td>
                  <% unless @topics.empty? %>
                    <% contact.topics.sort.to_h.each do |t, v| %>
                      <td><%= v %></td>
                    <% end %>
                  <% end %>
                  <td><%= contact.name %></td>
                  <td class="text-center"><%= link_to 'edit', edit_contact_path(contact), class: "black" %></td>
                  <td class="text-center"><%= link_to 'destroy', contact, class: "black", method: :delete, data: { confirm: 'Are you sure?' }%></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% unless @contacts_sent.empty? %>
      <h3>Contactos <small>Enviados</small></h3>
      <div class="table-responsive shadow-box">
        <table class="table table-striped table-bordered table-hover ">
          <thead>
            <tr>
              <th class='back-gray'>Email</th>
              <% @topics.each do |topic| %>
                <th class='back-gray'><%= topic.camelize %></th>
              <% end %>
              <th class='back-gray'>Nombre</th>
              <th class='back-gray'>Estatus</th>
              <th class='back-gray'>Fecha de envío</th>
              <th class='back-gray'>Puntuación</th>
              <th class='back-gray'>Comentario</th>
            </tr>
          </thead>

          <tbody>
            <% @contacts_sent.each do |contact| %>
              <% if contact.blacklist.nil? %>
                <tr>
                  <td><%= contact.email %></td>
                  <% unless @topics.empty? %>
                    <% contact.topics.sort.to_h.each do |t, v| %>
                      <td><%= v %></td>
                    <% end %>
                  <% end %>
                  <td><%= contact.name %></td>
                  <td class="status"><%= contact.status.titleize %></td>
                  <td class="sent_date"><%= contact.sent_date&.strftime "%d/%m/%Y".to_s %></td>
                  <td class="score"><%= contact.answer ? contact.answer.score : "Pendiente" %></td>
                  <td><%= contact.answer&.comment %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
  <div class="col-md-1"></div>
</div>

<%= will_paginate @contacts_sent %>

<script type="text/javascript">
  ;( function ( document, window, index )
  {
  var inputs = document.querySelectorAll( '.inputfile' );
  Array.prototype.forEach.call( inputs, function( input )
  {
    var label	 = input.nextElementSibling,
      labelVal = label.innerHTML;

    input.addEventListener( 'change', function( e )
    {
      var fileName = '';
      if( this.files && this.files.length > 1 )
        fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
      else
        fileName = e.target.value.split( '\\' ).pop();

      if( fileName )
        label.querySelector( 'span' ).innerHTML = fileName;
      else
        label.innerHTML = labelVal;
    });

    // Firefox bug fix
    input.addEventListener( 'focus', function(){ input.classList.add( 'has-focus' ); });
    input.addEventListener( 'blur', function(){ input.classList.remove( 'has-focus' ); });
  });
  }( document, window, 0 ));
</script>
