<div class="col-sm-3 col-md-2 affix-sidebar" style="padding-right: 0;"> 
      <div class="sidebar-nav">
        <div class="navbar navbar-default" style="margin-bottom: 0;" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse back-white">
            <ul class="nav navbar-nav" id="sidenav01">
              <li class="active">
                <%= image_tag("logo-sone-250.png", id: "sone_icon", class: "img-responsive center") %>
                <br>
                <% if user_signed_in? %>
                    <% if current_user.avatar.nil? %>
                      <%= image_tag("logo-sone-250.png", id: "sone_icon", class: "img-responsive center") %>
                    <% else %>
                      <%= image_tag(current_user.avatar, id: "sone_icon", class: "img-responsive center") %>
                    <% end %>
                    <p class="left-menu center gray"><%= current_user.email %></p>                   
                </li>
                
                <li class="center">
                  <!-- edit_user_registration -->
                  <%= link_to(edit_user_registration_path, class: 'left-menu') do %>
                  <%= image_tag("iconos-pencil.svg", class: "img-responsive small-img navbar-link") %>Editar perfil
                  <% end %>
                  </a>
                </li>
                <li class="center">
                  <%= link_to(campaigns_path, class: 'left-menu') do %>
                  <%= image_tag("iconos-block.svg", class: "img-responsive small-img navbar-link") %>Campañas
                  <% end %>
                </li>
                <li class="center">
                  <%= link_to(suscriptions_path, class: 'left-menu') do %>
                    <%= image_tag("iconos-config.svg", class: "img-responsive small-img navbar-link") %> Planes
                  <% end %>
                </li>
                <li class="center">
                  <%= link_to(new_payment_path, class: 'left-menu') do %>
                    <%= image_tag("iconos-store.svg", class: "img-responsive small-img navbar-link") %>Metodo de Pago
                  <% end %>
                </li>
                <li class="center">
                  <%= link_to(pricing_path, class: 'left-menu') do %>
                    <%= image_tag("iconos-question.svg", class: "img-responsive small-img navbar-link") %>FAQ
                  <% end %>
                  </a>
                </li>
                <li class="center">
                  <%=link_to(destroy_user_session_path, method: "delete", class: "left-menu") do %>
                  <%= image_tag("iconos-profile.svg", class: "small-img") %>Cerrar sesión
                  <% end %> 
                </li>
              <% else %>
                <%=link_to "Iniciar sesión", new_user_session_path, class: "left-menu navbar-link" %>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>