<div class="col-sm-3 col-md-2 affix-sidebar" style="padding-right: 0;">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" style="margin-bottom: 0;" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse back-white">
            <ul class="nav navbar-nav" id="sidenav01">
              <li class="active">
                <%= link_to root_path, id: "color-transparent", "data-turbolinks" => false do%>
                  <%= image_tag("3.png", id: "sone_icon", class: "img-responsive center") %>
                <% end %>
                <br>
                <% if user_signed_in? %>
                    <% if current_user.avatar.nil? %>
                      <%= image_tag("3.png", id: "sone_icon", class: "img-responsive center") %>
                    <% else %>
                      <%= image_tag(current_user.avatar, id: "sone_icon", class: "img-responsive center") %>
                    <% end %>
                    <p class="left-menu center gray"><%= current_user.email %></p>
                    <p class="left-menu center gray">Envíos Disponibles: <%= current_user.available_emails %></p>
                    <p class="left-menu center gray">Plan: <%= current_user.payment.plan_name.capitalize %></p>
                    <p class="left-menu center gray">Termina el: <%= current_user.payment.cycle_end.strftime('%d-%m-%Y') %></p>
                </li>

                <% if current_user.type == "AdminUser" %>
                  <li class="center">
                    <%= link_to(admin_view_path, class: 'left-menu') do %>
                    <%= fa_icon 'tachometer', class: 'navbar-link pink' %>Admin View
                    <% end %>
                  </li>
                <% end %>

                <li class="center">
                  <%= link_to(user_dashboard_path(current_user), class: 'left-menu') do %>
                  <%= fa_icon 'tachometer', class: 'navbar-link pink' %>Dashboard
                  <% end %>
                </li>

                <li class="center">
                  <%= link_to(campaigns_path, class: 'left-menu') do %>
                  <%= fa_icon 'envelope-o', class: 'navbar-link pink' %>
                  Campañas <span class="number-notifications"><%= CampaignsHelper.count_notifications(current_user) %></span>
                  <% end %>
                </li>

                <!-- <li class="center">
                  <%#= link_to(campaigns_path, class: 'left-menu') do %>
                    <%#= fa_icon 'bell', class: 'navbar-link pink' %>
                    Respuestas <span class="number-notifications"><%#= CampaignsHelper.count_notifications(current_user) %></span>
                  <%# end %>
                </li> -->

                <li class="center">
                  <!-- edit_user_registration -->
                  <%= link_to(edit_user_registration_path, class: 'left-menu') do %>
                  <%= fa_icon 'pencil', class: 'navbar-link pink' %>Editar perfil
                  <% end %>
                  </a>
                </li>

                <li class="center">
                  <%= link_to(suscriptions_path, class: 'left-menu') do %>
                    <%= fa_icon 'shopping-cart', class: 'navbar-link pink' %> Planes
                  <% end %>
                </li>

                <li class="center">
                  <%= link_to(new_payment_path, class: 'left-menu') do %>
                    <%= fa_icon 'credit-card', class: 'navbar-link pink' %>Metodo de Pago
                  <% end %>
                </li>

                <li class="center">
                  <%= link_to(pricing_path + '#faq-title', class: 'left-menu', "data-turbolinks" => false) do %>
                    <%= fa_icon 'question-circle', class: 'navbar-link pink' %>FAQ
                  <% end %>
                  </a>
                </li>
                <li class="center">
                  <%=link_to(destroy_user_session_path, method: "delete", class: "left-menu","data-turbolinks" => false) do %>
                    <%= fa_icon 'user', class: 'navbar-link pink forgot-pass' %>Cerrar sesión
                  <% end %>
                </li>
              <% else %>
                <%=link_to "Iniciar sesión", new_user_session_path, class: " left-menu navbar-link "%>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
