<footer class="row margin-0">
	<div class="col-md-4">
		<div class="row padding-top-10 margin-0">
			<div class="col-md-3 text-center white hidden-sm hidden-xs">
				<h4> <%=link_to "Precios", pricing_path,  class: "text-white none-underline"%></h4>
			</div>
			<div class="col-md-3 text-center white hidden-sm hidden-xs">
				<h4><a class="none-underline" href="https://blog.sone.com.mx/" target="_blank"><span class="text-white none-underline">Blog</span></a></h4>
			</div>
		</div>
		<div class="row margin-0">
			<div class="col-md-3">
				<ul class="static-footer-social">
					<li class="text-white">
						<a href="https://twitter.com/SoneMex">
							<%= fa_icon 'twitter' %>
						</a>
					</li>
					<li class="text-white">
						<a href="fb.me/sone.com.mx">
							<%= fa_icon 'facebook-f' %>
						</a>
					</li>
					<li class="text-white">
						<a href="https://www.instagram.com/sone.com.mx/">
							<%= fa_icon 'instagram' %>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4 text-center white">
		<%= image_tag("2.png", class: "img-25") %><br>
		<h4 class="text-copy">Copyright Customer Comfort S.A. de C.V.</h4>
	</div>
	<!-- <div class="col-md-4 padding-top-100"> -->
			<div class="text-center white margin-00 padding-top-100">
				<%= link_to "Términos y condiciones", terms_path, class: "text-white none-underline", id:"word-space"%>
				<%= link_to "Politícas de privacidad", politics_path, class: "text-white none-underline"%>
				<p>Developed by <a class="none-underline" href="http://www.kheper.io" target="_blank"><span class="text-white">Kheper</span></a></p>
				<i class="fa fa-whatsapp"><a id="space-number" class="text-white" href="tel:+525569687847">+52 5569687847</a></i>
			</div>
	<!-- </div>	 -->
</footer>
