<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sone</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
<![endif]-->

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<%= yield :conekta_scripts %>

</head>
<body>
  <div class="row affix-row back-white">
    <% if (yield :aside) != "hidden"  %>
      <%= render partial: 'layouts/aside' %>
    <% end %>
  <!-- </div> -->
    <div class="<%= (yield :aside) != "hidden" ? 'col-sm-9 col-md-10 ' : '' %>affix-content nopadding shadow-inset-left overflow">
    <% if (yield :header) != "hidden"  %>
      <%= render partial: 'layouts/header' %>
      <% else %>
    <% end %>
    <%= render partial: 'layouts/flash' %>
      

     
      
        <% if (yield :aside) != "hidden" %>
          <div class="container-fluid main-container">
            <!-- TODO: Put these flash messages into a partial -->
            <div class="page-header no-border">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                  <h2><%= yield :title %></h2>
                </div>          
              </div>
            </div>
          </div>
        <% end %>
        <%= yield %>
     
    </div>
  </div>
</div>
</body>
</html>
