<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sone</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
<![endif]-->

<%= stylesheet_link_tag 'static' %>
<%= javascript_include_tag 'static' %>
<%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to image_tag("1.png", id: "sone_icon"), root_path, class:"navbar-brand"%> 
        <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#navbar-toggle-menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-center navbar-brand-center">
        <!-- <a class="nav-btn navbar-text navbar-brand-center center-links">Precios</a> -->
        <%= link_to('Precios', pricing_path, class: "nav-btn navbar-text navbar-brand-center center-links", "data-turbolinks" => false) %>
        <%= link_to('Blog', "https://blog.sone.com.mx/", class: "nav-btn navbar-text navbar-brand-center center-links", "data-turbolinks" => false) %>
      </div>
      <div class="collapse navbar-collapse" id="navbar-toggle-menu">
        <a class="nav-btn navbar-text show-toggle-menu hidden-md hidden-lg">Precios</a>
        <a class="nav-btn navbar-text show-toggle-menu hidden-md hidden-lg">Blog</a>
        <% if user_signed_in? %>
          <%= link_to(campaigns_path, id: 'login', class: "nav-btn margin-right-0 navbar-text navbar-link navbar-right green", "data-turbolinks" => false) do %>
            <span class="green">Dashboard</span>
          <% end %>
        <% else %>
          <%= link_to(new_user_session_path, id: 'login', class: "nav-btn navbar-text navbar-link navbar-right green", "data-turbolinks" => false) do %>
            <span class="green">Iniciar Sesión</span>
          <% end %>
        <% end %>
        <button href="" id="faq" class="nav-btn navbar-text navbar-right pink faq"><span class="white">FAQ</span> <span class="pink">?</span></button>
      </div>
    </div>
  </nav>

  <script type="text/javascript">
    $('.faq, .faq *').click(function(){
      if($("#faq-title").size() == 0){
        $(location).attr('href', 'pricing#faq-title')
      }else{
        $(location).attr('href', '<%= pricing_path + '#faq-title' %>')
        $("html, body").animate({ scrollTop: $("#faq-title").offset().top }, 850);
      }
    });
  </script>

  <%= yield %>

</body>
</html>
